.categoryWrap > ul {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-bottom: solid 1px #d2dae0;
}
.categoryItem progress {
  flex-grow: 1;
  width: 100%;
  height: 20px;
  border: 2px black solid;
}

#category {
  width: 100%;
}

.categoryWrap {
  background-color: #f5f7f9;
  position: relative;
}

.categoryCnt {
  display: none;
}

.currentCategoryPage {
  display: none;
  margin-right: 10px;
}

.categoryItem {
  position: relative;
  display: flex;
  padding: 16px;
  height: 100%;
  align-items: center;
  color: #5f6e76;
}

.categoryItem > span {
  z-index: 1;
  margin-right: 10px;
}
