.categoryWrap > ul {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-bottom: solid 1px #d2dae0;
  overflow-x: scroll;
}

.categoryItem progress {
  flex-grow: 1;
  width: 166px;
  height: 20px;
  border: 2px black solid;
}

#category {
  width: 100%;
}

.categoryWrap {
  background-color: #f5f7f9;
  position: relative;
}

.categoryCnt {
  display: none;
}

.currentCategoryPages {
  padding-left: 30px;
}

.currentCategoryPage {
  display: none;
  margin-right: 10px;
}

.categoryItem {
  position: relative;
  display: flex;
  padding: 16px;
  min-width: fit-content;
}

.categoryItem:hover {
  cursor: pointer;
}

.progress-bar {
  pointer-events: none;
}

.categoryItem > span {
  z-index: 1;
  margin-right: 10px;
}
