.categoryWrap > ul {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-bottom: solid 1px var(--color-border-default);
  overflow: scroll;
}

.categoryItem progress {
  flex-grow: 1;
  width: 166px;
  height: 20px;
  border: 2px black var(--color-text-strong);
}

#category {
  width: 100%;
}

.categoryWrap {
  background-color: var(--color-surface-alt);
  position: relative;
}

.categoryCnt {
  display: none;
}

.currentCategoryPage {
  display: none;
}

.categoryItem {
  position: relative;
  display: flex;
  padding: 16px;
  min-width: fit-content;
  justify-content: space-between;
}

.categoryItem:hover {
  cursor: pointer;
}

.progress-bar {
  pointer-events: none;
}

.categoryItem > span {
  z-index: 1;
}

.categoryWrap > ul::-webkit-scrollbar {
  display: none;
}
