:root {
  --bold-L: 700 24px "Pretendard";
  --bold-M: 700 16px "Pretendard";
  --bold-R: 700 14px "Pretendard";
  --bold-S: 700 12px "Pretendard";

  --medium-M: 500 16px/22px "Pretendard";
  --medium-R: 500 14px "Pretendard";
  --medium-S: 500 12px "Pretendard";

  --grayscale-white-alt: rgba(255, 255, 255, 0.7);
  --grayscale-white: #ffffff;
  --grayscale-50: #f5f9f9;
  --grayscale-100: #d2dae0;
  --grayscale-200: #879298;
  --grayscale-300: #6e8091;
  --grayscale-400: #5f6e76;
  --grayscale-500: #4b5966;
  --grayscale-black: #14212b;
  --blue-100: #7890e7;
  --blue-500: #4362d0;
  --border-default: var(--grayscale-100);
}

:root[color-theme="light"] {
  --text-strong: var(--grayscale-black);
  --text-bold: var(--grayscale-500);
  --text-default: var(--grayscale-400);
  --text-weak: var(--grayscale-200);
  --text-white-default: var(--grayscale-white);
  --text-white-weak: var(--grayscale-white-alt);
  --text-point: var(--blue-500);
  --surface-default: var(--grayscale-white);
  --surface-alt: var(--grayscale-50);
  --surface-brand-default: var(--blue-500);
  --surface-brand-alt: var(--blue-100);
  --border-bold: var(--grayscale-300);
  --border-default: var(--grayscale-100);
}

:root[color-theme="dark"] {
  --text-strong: var(--grayscale-white);
  --text-bold: var(--grayscale-50);
  --text-default: var(--grayscale-100);
  --text-weak: var(--grayscale-white-alt);
  --text-white-default: var(--grayscale-white);
  --text-white-weak: var(--grayscale-white-alt);
  --text-point: var(--blue-500);
  --surface-default: var(--grayscale-black);
  --surface-alt: var(--grayscale-500);
  --surface-brand-default: var(--blue-500);
  --surface-brand-alt: var(--blue-100);
  --border-bold: var(--grayscale-white-alt);
  --border-default: var(--grayscale-400);
}
