@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'),
    url('../assets/fonts/pretendard/woff2/Pretendard-Bold.woff2')
      format('woff2'),
    url('../assets/fonts/pretendard/woff/Pretendard-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'),
    url('../assets/fonts/pretendard/woff2/Pretendard-Medium.woff2')
      format('woff2'),
    url('../assets/fonts/pretendard/woff/Pretendard-Medium.woff') format('woff');
}

* {
  font-family: 'Pretendard';
}
