:root {
  --bold-L: 700 24px 'Pretendard';
  --bold-M: 700 16px 'Pretendard';
  --bold-R: 700 14px 'Pretendard';
  --bold-S: 700 12px 'Pretendard';

  --medium-M: 500 16px/22px 'Pretendard';
  --medium-R: 500 14px 'Pretendard';
  --medium-S: 500 12px 'Pretendard';

  --grayscale-white-alt: rgba(255, 255, 255, 0.7);
  --grayscale-white: #ffffff;
  --grayscale-50: #f5f9f9;
  --grayscale-100: #d2dae0;
  --grayscale-200: #879298;
  --grayscale-300: #6e8091;
  --grayscale-400: #5f6e76;
  --grayscale-500: #4b5966;
  --grayscale-black: #14212b;
  --blue-100: #7890e7;
  --blue-500: #4362d0;
  --border-default: var(--grayscale-100);
  --border-bold: var(--grayscale-300);

  --text-strong: var(--grayscale-black);
  --text-bold: var(--grayscale-500);
  --text-default: var(--grayscale-400);
  --text-weak: var(--grayscale-200);
  --text-white-default: var(--grayscale-white);
  --text-white-weak: var(--grayscale-white-alt);
  --text-point: var(--blue-500);
  --surface-default: var(--grayscale-white);
  --surface-alt: var(--grayscale-50);
  --surface-brand-default: var(--blue-500);
  --surface-brand-alt: var(--blue-100);
}

:root[data-theme='dark'] {
  --border-default: var(--grayscale-400);
  --border-bold: var(--grayscale-white-alt);

  --text-strong: var(--grayscale-white);
  --text-bold: var(--grayscale-50);
  --text-default: var(--grayscale-100);
  --text-weak: var(--grayscale-white-alt);
  --surface-default: var(--grayscale-black);
  --surface-alt: var(--grayscale-500);
}

/* text */

.display_bold24 {
  font: var(--bold-L);
}

.display_bold16 {
  font: var(--bold-M);
}
.display_bold14 {
  font: var(--bold-R);
}
.display_bold12 {
  font: var(--bold-S);
}
.display_medium16 {
  font: var(--medium-M);
}
.display_medium14 {
  font: var(--medium-R);
}
.display_medium12 {
  font: var(--medium-S);
}
.selected_bold16 {
  font: var(--bold-M);
}
.selected_bold14 {
  font: var(--bold-R);
}
.available_medium16,
.hover_medium16 {
  font: var(--medium-M);
}
.available_medium14,
.hover_medium14 {
  font: var(--medium-R);
}
.available_medium12 {
  font: var(--medium-S);
}
.hover_medium16:hover,
.hover_medium14:hover {
  text-decoration: underline;
}

/* color */

.text_strong {
  color: var(--text-strong);
}

.text_bold {
  color: var(--text-bold);
}

.text_default {
  color: var(--text-default);
}

.text_weak {
  color: var(--text-weak);
}

.text_white_default {
  color: var(--text-white-default);
}

.text_white_weak {
  color: var(--text-white-weak);
}

.text_point {
  color: var(--text-point);
}

/* background color */

.surface_default {
  background-color: var(--surface-default);
}

.surface_alt {
  background-color: var(--surface-alt);
}

.surface_brand_default {
  background-color: var(--surface-brand-default);
}

.surface_brand_alt {
  background-color: var(--surface-brand-alt);
}

/* button */

.button {
  display: inline-flex;
  height: 24px;
  padding: 0px 5px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid var(--border-default);
  color: var(--text-weak);
  font: var(--medium-S);
}

.text_button {
  padding-right: 10px;
}

.button svg {
  width: 12px;
  height: 12px;
  fill: var(--text-weak);
}

.button:hover {
  border-color: var(--border-bold);
  color: var(--text-bold);
}

.button:hover svg {
  fill: var(--text-bold);
}

/* box shadow */

.shadow {
  box-shadow: 0px 2px 18px 0px rgba(20, 33, 43, 0.08),
    0px 4px 2px 0px rgba(20, 33, 43, 0.02);
}

/* snack bar */

.snack_bar {
  padding: 16px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* alert */

.alert {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  transform: translate(-50%, -50%);
  z-index: 9998;
  border: 1px solid var(--border-default);
}

.alert .alert_msg {
  box-sizing: content-box;
  padding: 24px;
  text-align: center;
  border-bottom: 1px solid var(--border-default);
}

.alert .alert_actions {
  display: flex;
  justify-content: stretch;
  box-sizing: content-box;
}

.alert .alert_button {
  padding: 10px;
  flex: 1;
}

.alert .alert_button:not(:first-child) {
  border-left: 1px solid var(--border-default);
}

/* layout */

.pointer {
  cursor: pointer;
}

.fade_in {
  animation: fade_in 0.3s ease;
}

/* animation */

@keyframes news_rolling_animation {
  0% {
    -webkit-transform: none;
    transform: none;
  }

  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
