.container-grid-view {
  display: flex;
  align-items: center;

  position: relative;
}
.grid-view {
  width: 100%;

  display: grid;
  grid-template-rows: repeat(4, 96px);
  grid-template-columns: repeat(6, 1fr);

  border-left: 1px solid #d2dae0;
  border-top: 1px solid #d2dae0;
}
.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 1px solid #d2dae0;
  border-bottom: 1px solid #d2dae0;
}
.grid-cell > button {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-cell_news-img {
  width: auto;
  height: 20px;
}
