.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.title-icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}