.container-header_main {
  margin-bottom: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-header_logo > a {
  gap: 8px;

  display: flex;
  align-items: center;
}
.container-header_logo svg {
  fill: var(--color-text-point);
}
.container-header_date {
  color: var(--color-text-default);
}
.container-news-bar {
  margin-top: 40px;
  margin-bottom: 33px;
  gap: 8px;

  display: flex;
  align-items: center;
}
.container-news-bar_wrap {
  height: 49px;
  width: 100%;
  padding: 16px;
  gap: 16px;

  display: flex;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  background: var(--color-surface-alt);
  border: var(--border-default);
}
.container-news-bar > div > ul {
  overflow: hidden;
  color: var(--color-text-default);
}
.container-news-bar_wrap li {
  top: 100px;

  position: absolute;
}
.container-news-bar_wrap li:hover {
  text-decoration: underline;
}
ul .prev {
  top: -50px;

  transition: top 1s ease;
}
ul .current {
  top: 15px;

  transition: top 1s ease;
}
ul .next {
  top: 50px;
}
