@import url("./reset.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("./color.css");
@import url("../css/components/header.css");
@import url("../css/components/rollingNews.css");
@import url("../css/components/gridView.css");
@import url("../css/components/listView.css");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard;
  height: 720px;
}

.wrapper {
  justify-content: center;
  align-items: center;
  width: 1074px;
}

.title-wrapper,
.auto-rolling-news-bar,
.main-tab-viewer,
.grid-view,
.list-view {
  width: 930px;
  margin: 0 auto;
}

.auto-rolling-news-bar,
.main-tab-viewer,
.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-wrapper,
.auto-rolling-news-bar {
  margin-bottom: 36px;
}
.main-tab-viewer {
  margin-bottom: 25px;
}

button:hover,
.title:hover,
li:hover,
.news-title:hover {
  cursor: pointer;
}
