@import url("./reset.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("./color.css");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard;
  height: 720px;
}

.wrapper {
  justify-content: center;
  align-items: center;
  width: 1074px;
}

.title-wrapper,
.auto-rolling-news-bar,
.main-tab-viewer,
.main-list,
.field-tab {
  width: 930px;
  margin: 0 auto;
}

.auto-rolling-news-bar,
.main-tab-viewer,
.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.main-tab-viewer {
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.grid-view ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
}

.grid-view,
.list-view {
  display: flex;
}
.main-list {
  height: 388px;
}

.grid-view {
  align-items: center;
}

.grid-view ul li {
  display: inline-block;
  width: calc(100% / 6);
  height: 25%;
  border: 1px solid var(--border-default);
  box-sizing: border-box;
  text-align: center;
  position: relative;
  border-bottom: none;
  border-left: none;
}
.grid-view ul li:nth-child(6n + 1) {
  border-left: 1px solid var(--border-default);
}
.grid-view ul li:nth-last-child(-n + 6) {
  border-bottom: 1px solid var(--border-default);
}
.grid-view ul li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-wrapper img {
  width: 24px;
  height: 24px;
}
.date {
  color: var(--text-default);
  font-size: 16px;
}
.all-press {
  color: var(--text-strong);
  font-size: 16px;
  font-weight: 700;
}
.subscribe-press {
  color: var(--text-weak);
  font-size: 16px;
  font-weight: 500;
  margin-left: 24px;
}
.press {
  color: var(--text-strong);
  font-size: 14px;
  font-weight: 700;
}
.news-title {
  color: var(--text-default);
  font-size: 14px;
  font-weight: 500;
  padding-left: 18px;
}
.display-text {
  color: var(--text-strong);
  font-weight: 700;
  font-size: 24px;
  margin-left: 6px;
}

.title {
  display: flex;
  align-items: center;
}

button:hover,
.title:hover,
.main-list ul li:hover,
.news-title:hover,
a:hover {
  cursor: pointer;
}

/*
자동 롤링 부분
*/
.auto-rolling-news {
  position: relative;
  width: 460px;
  height: 48px;
  font-size: 0.875rem;
  letter-spacing: -1px;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid var(--border-default);
  background-color: var(--surface-alt);
}

.auto-rolling-news .press {
  float: left;
  padding-right: 16px;
}

/* 롤링 배너 */
.auto-rolling-news > .wrap {
  position: relative;
  width: auto;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.auto-rolling-news li {
  position: absolute;
  top: 32px;
  left: 0;
  transform: translate(0, -50%);
}
/* 이전, 현재, 다음 롤링 배너 표시 */
.auto-rolling-news li.prev {
  top: -16px;
  transition: top 0.8s ease;
  transform: translate(0, -50%);
}
.auto-rolling-news li.current {
  top: 50%;
  transition: top 0.8s ease;
}
.auto-rolling-news li.next {
  top: 32px;
  transform: translate(0, -50%);
}
.auto-rolling-news a {
  display: block;
  display: -webkit-box;
  text-decoration: none;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #000;
}

.auto-rolling-news a:hover {
  text-decoration: underline;
}

.viewer-btn {
  display: flex;
  height: 24px;
  width: 56px;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
}
.viewer-btn button {
  display: flex;
  height: 24px;
  width: 24px;
  align-items: center;
}

/*list view*/

.list-view .press-news .press-info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.list-view .field-tab ul {
  display: flex;
  border: 1px solid var(--border-default);
  background-color: var(--surface-alt);
}
.list-view .field-tab .category {
  display: inline-block;
  padding: 16px;
  color: var(--text-weak);
  font-size: 14px;
}

.list-view .count {
  display: inline-block;
}

.list-view {
  height: 388px;
}

/* category */
.selected {
  background-color: var(--surface-brand-default);
}
.selected div span {
  color: var(--text-white-default);
  font-size: 14px;
  font-weight: 700;
}

/* press-info */
.press-news {
  padding: 24px;
  border: 1px solid var(--border-default);
  border-top: none;
}

#press-logo {
  width: 52.5px;
  height: 20px;
}

.edit-date {
  color: var(--text-default);
  font-size: 12px;
}

.news-content {
  display: flex;

  height: 260px;
  padding-top: 16px;
}

/* 구독 버튼 */
#subscribe {
  color: var(--text-weak);
  font-size: 12px;
  display: flex;
  height: 24px;
  padding: 0px 6px;
  align-items: center;
  gap: 2px;
  border-radius: 50px;
  border: 1px solid var(--border-default);
  background: var(--surface-alt);
}
#subscribe span {
  padding-right: 4px;
}

/* main-news */
.main-news {
  width: 320px;
  padding-right: 32px;
}

.main-news img {
  padding-bottom: 16px;
  width: 320px;
  height: 200px;
}

.thumbnail-title {
  overflow: hidden;
  color: var(--text-text-strong);
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* sub-news */
.sub-news {
  width: 100%;
}

.sub-news-ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.sub-news-ul li {
  font-size: 16px;
  line-height: 22px;
  color: var(--text-bold);
}

#caption {
  line-height: normal;
  font-size: 14px;
}

#caption:hover {
  cursor: default;
}
