@import url("./reset.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("./color.css");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard;
  height: 720px;
}

.wrapper {
  justify-content: center;
  align-items: center;
  width: 1074px;
}

.title-wrapper,
.auto-rolling-news-bar,
.main-tab-viewer,
.main-list,
.list-view {
  width: 930px;
  margin: 0 auto;
}

.auto-rolling-news-bar,
.main-tab-viewer,
.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.auto-rolling-news {
  display: flex;
  align-items: center;
  width: 460px;
  height: 48px;
  border: 1px solid var(--border-default);
  background-color: var(--surface-alt);
  padding: 0 18px;
  box-sizing: border-box;
}

.auto-rolling-news {
  position: relative;
  overflow: hidden;
}

.auto-rolling-news li {
  position: absolute;
  top: 50px;
}

.auto-rolling-news ul li.prev {
  top: -20px;
  transition: top 0.5s ease;
}
.auto-rolling-news ul li.current {
  top: 15px;
  transition: top 0.5s ease;
}

.grid-view {
  display: flex;
  align-items: center;
}

.main-tab-viewer {
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.main-list ul {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
}
.main-list {
  display: flex;
  flex-wrap: wrap;
  height: 388px;
}

.main-list ul li {
  display: inline-block;
  width: calc(100% / 6);
  height: 25%;
  border: 1px solid var(--border-default);
  box-sizing: border-box;
  text-align: center;
  position: relative;
  border-bottom: none;
  border-left: none;
}

.main-list ul li:nth-child(6n + 1) {
  border-left: 1px solid var(--border-default);
}
.main-list ul li:nth-last-child(-n + 6) {
  border-bottom: 1px solid var(--border-default);
}
.main-list ul li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-wrapper img {
  width: 24px;
  height: 24px;
}

.grid-view button img {
  width: 24px;
  height: 40px;
}
.date {
  color: var(--text-default);
  font-size: 16px;
}
.all-press {
  color: var(--text-strong);
  font-size: 16px;
  font-weight: 700;
}
.subscribe-press {
  color: var(--text-weak);
  font-size: 16px;
  font-weight: 500;
  padding-left: 24px;
}
.press {
  color: var(--text-strong);
  font-size: 14px;
  font-weight: 700;
}

.news-title {
  color: var(--text-default);
  font-size: 14px;
  font-weight: 500;
  padding-left: 18px;
}
.news-title:hover {
  text-decoration: underline;
}
.display-text {
  color: var(--text-strong);
  font-weight: 700;
  font-size: 24px;
  margin-left: 6px;
}

.title {
  display: flex;
  align-items: center;
}

label:hover,
.title:hover,
.main-list ul li:hover,
.news-title:hover {
  cursor: pointer;
}

.list-view {
  border: 1px solid var(--border-default);
  box-sizing: border-box;
  height: 388px;
}

.category {
  display: flex;
  height: 40px;
  background-color: var(--surface-alt);
}
.category div {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0 25px;
  font-size: 14px;
}

.press-info {
  margin: 24px auto 16px auto;
  width: 882px;
  height: 24px;
  display: flex;
  align-items: center;
}
.press-info span {
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px;
}
.list-view-news {
  margin: 0 auto;
  width: 882px;
  height: 260px;
  display: flex;
}
.list-view-main {
  width: 320px;
  height: 260px;
  margin-right: 32px;
}
.list-view-sub {
  width: 530px;
  height: 245px;
}

.list-view-sub li {
  color: var(--text-bold);
  font-weight: 500;
  margin-bottom: 22px;
}
.list-view-sub li.sub-caption {
  font-size: 14px;
  color: var(--text-weak);
}
.list-main-title {
  margin-top: 16px;
  font-weight: 500;
  color: var(--text-strong);
}
