@import url("./reset.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("./color.css");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard;
  height: 720px;
}

.wrapper {
  justify-content: center;
  align-items: center;
  width: 1074px;
}

.title-wrapper,
.auto-rolling-news-bar,
.main-tab-viewer,
.main-list {
  width: 930px;
  margin: 0 auto;
}

.auto-rolling-news-bar,
.main-tab-viewer,
.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.auto-rolling-news {
  display: flex;
  align-items: center;
  width: 460px;
  height: 48px;
  border: 1px solid var(--border-default);
  background-color: var(--surface-alt);
  padding: 0 18px;
  box-sizing: border-box;
}

.grid-view {
  display: flex;
  align-items: center;
}

.main-tab-viewer {
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.main-list ul {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
}
.main-list {
  display: flex;
  flex-wrap: wrap;
  height: 388px;
}

.main-list ul li {
  display: inline-block;
  width: calc(100% / 6);
  height: 25%;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.main-list ul li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-wrapper img {
  width: 24px;
  height: 24px;
}

.grid-view button img {
  width: 24px;
  height: 40px;
}
.date {
  color: var(--text-default);
  font-size: 16px;
}
.all-press {
  color: var(--text-strong);
  font-size: 16px;
  font-weight: 700;
}
.subscribe-press {
  color: var(--text-weak);
  font-size: 16px;
  font-weight: 500;
  padding-left: 24px;
}
.press {
  color: var(--text-strong);
  font-size: 14px;
  font-weight: 700;
}
.news-title {
  color: var(--text-default);
  font-size: 14px;
  font-weight: 500;
  padding-left: 18px;
}
.display-text {
  color: var(--text-strong);
  font-weight: 700;
  font-size: 24px;
  margin-left: 6px;
}

.title {
  display: flex;
  align-items: center;
}

.title:hover {
  cursor: pointer;
}
