#list_view_wrapper {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid var(--border-default);
    width: 100%;
    height: 100%;
}

/* nav */

#list_nav {
    width: 100%;
    border-bottom: 1px solid var(--border-default);
}

#list_nav #list_nav_list {
    display: flex;
    flex-direction: row;
    height: 40px;
}

#list_nav_list .list_view_select {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
}

#list_nav_list #selected_nav_item {
    justify-content: space-between;
    gap: 8px;
    width: 134px;

}

#list_nav_list #selected_nav_item .indicator {
    display: flex;
    align-items: center;
    gap: 2px;
}

/* media_info */

.media_info {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}


/* content */

#list_view {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.thumbnail_news .thumbnail {
    width: 320px;
    height: 200px;
    border: 1px solid var(--border-default);
    box-sizing: border-box;
}

#list_view .news {
    display: flex;
    gap: 32px;
    align-self: stretch;
}

.thumbnail_news {
    display: flex;
    width: 320px;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
}

.thumbnail_news .title {
    height: 44px;
    flex-direction: column;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub_news {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
