.list-view {
  width: 100%;
}
.list-view_category-bar {
  height: 40px;
  width: 100%;

  border: var(--border-default);
  background: var(--color-surface-alt);

  color: var(--color-text-weak);

  overflow-x: scroll;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.list-view_category-bar::-webkit-scrollbar {
  display: none;
}
.list-view_category-bar > ul {
  display: flex;
  align-items: center;
}

.list-view_category-bar > ul > li {
  height: 40px;
  padding: 0px 16px;

  display: flex;
  align-items: center;
  white-space: nowrap;
}
.category--selected {
  width: 166px;

  position: relative;

  background-color: var(--color-surface-brand-alt);
  color: var(--color-text-white-default);
}
.category--selected span {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}
.progress {
  height: 100%;
  left: 0;

  position: absolute;

  background-color: var(--color-surface-brand-default);
}
.progress-component {
  width: 166px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.progress-component > div {
  display: flex;
}
.list-view_main {
  width: 930px;
  padding: 24px;
  gap: 16px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: var(--border-default);
  border-top: 0;
}
.list-view_main-header {
  gap: 16px;

  display: flex;
  align-items: center;
  align-self: stretch;

  color: var(--color-text-default);
}
.list-view_main-header > span {
  display: flex;
  align-items: center;
}
.list-view_main-box {
  gap: 32px;

  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.list-view_main-news {
  width: 320px;
  gap: 16px;

  display: flex;
  flex-direction: column;

  color: var(--color-text-strong);

  cursor: pointer;
}
.list-view_main-news:hover img {
  transform: scale(1.05);
}
.list-view_main-news:hover span {
  text-decoration: underline;
}
.main-news_img-wrapper {
  width: 320px;
  height: 200px;

  overflow: hidden;
}
.main-news_img-wrapper > img {
  width: 100%;
  height: 100%;

  transition: all 0.2s linear;
}
.list-view_news-list {
  gap: 16px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}
.list-view_news-list > li {
  display: flex;
  flex-direction: column;
  align-self: stretch;

  color: var(--color-text-bold);
}
.list-view_news-list > li:last-child {
  color: var(--color-text-weak);
}

.grab {
  cursor: grabbing;
}
.grab > ul {
  pointer-events: none;
}
