@import url("./pallet.css");

.list-content {
  border: 1px solid var(--border-border-default);
  border-top: none;
  padding: 24px;
  height: 348px;
}

.list-content .list-header {
  display: flex;
  align-items: center;
  width: 882px;
  height: 24px;
  gap: 16px;
}

.list-content .list-header .list-edit {
  height: 14px;
  line-height: 14.32px;
  font-size: 14px;
  color: var(--text-text-default);
}

.list-content .list-header rect {
  color: var(--surface-surface-default);
}

.list-content .list-header path {
  fill: var(--text-text-default);
}

.news-section .subscribe-btn {
  background-color: var(--surface-surface-default);

  border: 1px solid var(--border-border-default);
  border-radius: 50px;
  color: var(--text-text-weak);
  font-size: 12px;
  width: 72px;
  height: 100%;
  padding: 0 6px 0 6px;
  gap: 2px;
}

.news-section .subscribe-btn svg {
  padding-top: 3px;
}

.news-section .newspaper__item .subscribe-btn {
  display: none;
  background-color: var(--surface-surface-default);
}

.list-content .list-news {
  display: flex;
  justify-content: space-between;
  width: 882px;
  height: 260px;
  margin-top: 15px;
}

.list-content .list-news .main-news {
  width: 320px;
  height: 260px;
}

.list-content .list-news .main-news .img-container {
  overflow: hidden;
  height: 200px;
}

.list-content .list-news .main-news .img-container img {
  transition: 0.3s;
}

.list-content .list-news .main-news:hover img {
  scale: 105%;
}

.list-content .list-news .main-news:hover .main-title {
  text-decoration: underline;
}

.list-content .list-news .main-title {
  width: 320px;
  height: 44px;
  margin-top: 15px;
  color: var(--text-text-strong);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.list-content .list-news .sub-news {
  width: 530px;
  height: 245px;
}

.list-content .list-news .sub-news ul {
  height: 100%;
  color: var(--text-text-bold);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.list-content .list-news .sub-news .sub-title {
  cursor: pointer;
}

.list-content .list-news .sub-news .sub-title:hover {
  text-decoration: underline;
}

.list-content .list-news .sub-news ul .caption {
  font-size: 14px;
  color: var(--text-text-weak);
}
