/* main */

.news .news-navbar {
  display: flex;
  justify-content: space-between;
  height: 24px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.news .news-navbar .news-navbar_newspaper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 216px;
  gap: 24px;
}

.news .news-navbar .news-navbar_newspaper .news-navbar_newspaper-list-all {
  font-size: 16px;
  line-height: 22px;
}

.news .news-navbar .news-navbar_newspaper .news-navbar_newspaper-list-my {
  color: #879298;
  line-height: 22px;
  font-size: 16px;
}

.news .news-navbar_content {
  display: flex;
  justify-content: space-between;
  width: 56px;
}

.news .news-navbar_content path {
  fill: #879298;
}

.news .news-navbar_content .select {
  fill: #4362d0;
}

/* newspapers section */
.newspaper__list {
  display: grid;
  grid-template-columns: repeat(6, minmax(96.25px, auto));
  border-top: 1px solid #d2dae0;
  border-left: 1px solid #d2dae0;
}

.newspaper__list .newspaper__item,
.blank {
  height: 96.25px;
  border-bottom: 1px solid #d2dae0;
  border-right: 1px solid #d2dae0;
  text-align: center;
  line-height: 96.25px;
}

.newspaper__list .newspaper__item button {
  width: 72px;
  height: 24px;
  top: 36px;
  left: 41px;
  padding: 0px 6px 0px 6px;
  border-radius: 50px;
  border: 1px solid #d2dae0;
}

.newspaper__list .newspaper__item:hover {
  background-color: #f5f7f9;
  cursor: pointer;
}

.newspaper__list .newspaper__item:hover img {
  display: none;
}

.newspaper__list .newspaper__item:hover button {
  display: inline-block;
}
/*  page button */

.news-section {
  position: relative;
}
.news-section .right-button_content {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(61px, -21px);
}

.news-section .left-button_content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-61px, -21px);
}

.snack-bar {
  z-index: 1;
  box-sizing: border-box;
  position: absolute;
  width: 286px;
  height: 54px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 54px;
  background-color: #4362d0;
  color: #ffffff;
}

.alert {
  position: absolute;
  width: 320px;
  height: 140px;
  top: 50%;
  left: 50%;
  border: 1px solid #d2dae0;
  transform: translate(-50%, -50%);
}

.alert .text-box {
  height: 92px;
  padding: 24px;
  text-align: center;
  border-bottom: 1px solid #d2dae0;
  background-color: #ffffff;
}

.alert button {
  display: inline-block;

  width: 50%;
  height: 48px;
  background-color: #f5f7f9;
  border-bottom: 1px solid #d2dae0;

  /* border-left: 1px solid #d2dae0; */

  font-size: 16px;
}

.alert button:hover {
  text-decoration: underline;
}

.alert .ok-btn {
  border-right: 1px solid #d2dae0;
}
