@import url("./pallet.css");
/* display.
list-style.
position.
float.
clear.
width / height.
padding / margin.
border / background.
color / font
text-decoration
text-align / vertical-align
white-space
other text
content
 */

.categoty-nav {
  height: 40px;
  border: solid 1px var(--border-border-default);
  background-color: var(--surface-surface-alt);
  overflow-y: scroll;
}

.news-container .categoty-nav .categoty-list {
  display: flex;
  width: max-content;
}

.news-container .categoty-nav .categoty-list .select {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 166px;
  background-color: var(--surface-surface-brand-alt);
  color: var(--text-text-white-default);
}

.news-container .categoty-nav .categoty-list .select:hover {
  text-decoration: none;
}

.news-container .categoty-nav .categoty-list .select span {
  z-index: 1;
}

.news-container .categoty-nav .categoty-list .select .progress-bar {
  position: absolute;
  height: 100%;
  left: 0;
  background-color: var(--surface-surface-brand-default);
  z-index: 0;
}

.news-container .categoty-nav .categoty-list li {
  height: 40px;
  line-height: 40px;
  padding: 0 16px 0 16px;
  color: var(--text-text-weak);
  cursor: pointer;
}

.news-container .categoty-nav .categoty-list li:hover {
  text-decoration: underline;
}
