.news-header-div {
  display: flex;
  justify-content: flex-start;
}

.news-header {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 90%;
}

.news-content {
  display: flex;
  position: absolute;
  top: 38%;
  left: 5%;
  width: 90%;
  height: 50%;
}

.news-main-image {
  width: 100%;
  height: 70%;
  margin-bottom: 6%;
}

.news-thumbnail {
  padding: 0;
  width: 44px;
  height: 20px;
  margin-right: 16px;
}

.news-main-left-div {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  height: 100%;
  width: 30%;
  margin-right: 5%;
}

.news-main-article-press {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #879298;
}

.news-main-article {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #4b5966;
  margin-bottom: 3%;
}

.news-edit-time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  font-size: 12px;
  font-weight: 500;
  color: #5f6e76;
}
