.section-press-container {
  display: flex;
  font-size: 16px;
  width: 930px;
  margin: 0 auto;
  padding: 32px 70px;
}

.section-press-container div:nth-child(1) {
  font-weight: bold;
}

.section-press-container div:nth-last-of-type(1) {
  color: #879298;
  flex: 1;
  margin-left: 20px;
}

.section-press-container img:nth-last-of-type(1) {
  margin-left: 8px;
}


.section-press-content-container {
  display: flex;
  align-items: center;
  width: 1070px;
  margin: 0 auto;
  
}

.section-container ul{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  padding: 0;
  border-top: 1px solid #d2dae0;
  border-left: 1px solid #d2dae0;
  height: 388px;
  width: 930px;
  margin: 0 auto;
}

.section-container ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d2dae0;
  border-right: 1px solid #d2dae0;     
}

.section-leftbutton {
  visibility: hidden;
}