/*progress 설정 class*/
.progress {
  display: flex;
  width: 134px;
  height: 40px;
  padding: 0px 16px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  font: var(--bold-R);
  color: var(--grayscale-white);
  background-color: var(--blue-100);
  position: relative;
  pointer-events: none;
}

.progress:hover {
  text-decoration: none;
}

.progress::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  background-color: var(--blue-500);
}

.progress.effect::after {
  animation: progressBar 2s ease infinite;
}

@keyframes progressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/*progress 설정 class*/
.progress-page {
  display: flex;
  align-items: center;
  gap: 2px;
  z-index: 999;
}

.non-progress {
  font: var(--medium-R);
  color: var(--grayscale-200);
}

.non-progress:hover {
  text-decoration: underline;
}

.progress-category {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  z-index: 999;
}
