body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  line-height: 1;
  margin: 0;
  padding: 0;
  border: 0;
}
button {
  border: none;
  background-color: transparent;
}
ol,
ul {
  list-style: none;
}
