/* section */

.newsflash {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin: 19px 0 30px 0;
}

.newsflash .newsflash__content {
  width: 461px;
  height: 49px;
  padding: 16px;
  border: 1px solid var(--border-border-default);
  background-color: var(--surface-surface-alt);
  font-size: 14px;
}
.newsflash .newsflash__content .rolling {
  height: 16px;
  overflow: hidden;
}

.newsflash .newsflash__content .rolling > li {
  overflow: hidden;
  text-overflow: ellipsis;
}
.newsflash .newsflash__content .newsflash__content__newspaper {
  display: inline-block;
  margin-right: 10px;
  color: var(--text-text-strong);
  font-weight: bold;
}

.newsflash .newsflash__content .newsflash__content__title {
  color: var(--text-text-default);
  cursor: pointer;
}
