/* section */

.newsflash {
    display: flex;
    justify-content: space-between;
    margin: 19px 0 30px 0;
}

.newsflash .newsflash__content{
    width: 461px;
    height: 49px;
    padding: 16px;
    border: 1px solid #D2dae0;
    background-color: #f5f7f9;
    font-size: 14px;
}

.newsflash .newsflash__content .newsflash__content__newspaper{
    display: inline-block;
    margin-right: 10px;
    color: #14212b;
    font-weight: bold;
}

.newsflash .newsflash__content .newsflash__content__title{
    color: #5f6276;
}

