@import "../utils/css/reset.css";
@import "./pressContent/pressContent.css";
@import "./newsbar/rolling.css";
@import "./header/header.css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pressbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 33px;
  width: 930px;
}

.press-content-name-strong {
  font-weight: 700;
  color: #14212b;
}

.press-content-name-default {
  font-weight: 500;
  color: #879298;
}

.pressbar-name-all {
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

.pressbar-name-all:hover {
  cursor: pointer;
}

.pressbar-name-subscribe {
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  padding-left: 24px;
}

.pressbar-name-subscribe:hover {
  cursor: pointer;
}

#pressbar-icon-grid-view {
  height: 24px;
  width: 24px;
}

#pressbar-icon-list-view {
  margin-right: 8px;
  height: 24px;
  width: 24px;
}

#pressbar-icon-grid-view:hover {
  cursor: pointer;
}
#pressbar-icon-list-view:hover {
  cursor: pointer;
}
