@import url(reset.css);
@import url(rolling.css);
@import url(progress.css);
@import url(global.css);

body {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.title-icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.view-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.press-lists {
  margin-top: 24px;
  width: 930px;
  height: 388px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-left: 1px solid var(--border-default);
  border-top: 1px solid var(--border-default);
}

.press-lists li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-default);
  border-right: 1px solid var(--border-default);
}

.rolling-news-container {
  display: flex;
  width: 930px;
  align-items: flex-start;
  gap: 8px;
  margin-top: 40px;
}

.rolling-news {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  border: 1px solid var(--border-default);
}

.tap-viewer-container {
  display: flex;
  width: 930px;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.tap-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.press-grid-container {
  position: relative;

}

.press-lists {
  display: none;
}

.left-button {
  position: absolute;
  top: calc(50% - 20px);
  right: calc(100% + 47px);
  display: none;
}

.right-button {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(100% + 47px);
  display: none;
}

.pointer {
  cursor: pointer;
}

