@import url(./foundation.css);
@import url(./reset.css);
@import url(./header.css);
@import url(./main-nav.css);
@import url(./grid.css);
@import url(./list.css);

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-surface-default);
}

.container {
  max-width: 930px;
  width: 100%;
}

.left-btn {
  right: 100%;

  position: absolute;

  transform: translateX(-48px);
}
.right-btn {
  left: 100%;

  position: absolute;

  transform: translateX(48px);
}
.subscribe-btn {
  height: 24px;
  padding: 0px 10px 0 6px;
  gap: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  border: var(--border-default);
  background: var(--color-surface-default);
  color: var(--color-text-bold);

  cursor: pointer;
}
.subscribe-btn:hover {
  background: var(--color-surface-alt);
}

.subscribe-circle-btn {
  display: flex;
  height: 24px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: var(--border-default);
  background: var(--color-surface-default);
}
.subscribe-circle-btn:hover {
  background: var(--color-surface-alt);
}

.hidden {
  display: none !important;
}
.font-deactivate {
  color: var(--color-text-white-weak);
}
.font-activate {
  color: var(--color-text-white-default);
}
.hover-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.darkmode-toggle {
  width: 70px;
  height: 30px;
  margin-right: 30px;

  position: relative;
  display: block;

  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);

  cursor: pointer;
  transition: 0.3s;
}
.darkmode-toggle:after {
  width: 25px;
  height: 25px;
  top: 3px;
  left: 3px;

  position: absolute;
  content: "";

  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

  transition: 0.3s;
}
.darkmode-toggle:active:after {
  width: 40px;
}
.darkmode-toggle svg {
  width: 20px;
  top: 5px;

  position: absolute;
  z-index: 100;
}
.darkmode-toggle svg.sun {
  left: 5px;

  fill: #fff;

  transition: 0.3s;
}
.darkmode-toggle svg.moon {
  left: 45px;

  fill: #7e7e7e;

  transition: 0.3s;
}
.input-checked svg.sun {
  fill: #7e7e7e;
}
.input-checked svg.moon {
  fill: #fff;
}
.input-checked {
  background: var(--color-surface-default);
}
.input-checked:after {
  left: 67px;

  background: linear-gradient(180deg, #777, #3a3a3a);

  transform: translateX(-100%);
}

.snackbar {
  padding: 16px 24px;

  display: flex;
  align-items: flex-start;
  position: absolute;

  background: var(--color-surface-brand-default);
  box-shadow: 0px 2px 18px 0px rgba(20, 33, 43, 0.08),
    0px 4px 2px 0px rgba(20, 33, 43, 0.02);

  z-index: 10;
}

.snackbar-body {
  color: var(--color-text-white-default);
}
.snackbar-progress {
  width: calc(100% - 8px);
  height: 3px;
  left: 2px;
  bottom: 4px;

  position: absolute;

  background: linear-gradient(to right, #fff, var(--color-text-bold));
  border-radius: inherit;

  transform: scaleX(0);
  transform-origin: left;
  animation: progress 4.5s 0.3s linear;
}

@keyframes progress {
  to {
    transform: scaleX(1);
  }
}

.visible {
  display: block !important;
}
.invisible {
  display: none !important;
}

.alert {
  width: 320px;

  position: absolute;

  box-shadow: 0px 2px 18px 0px rgba(20, 33, 43, 0.08),
    0px 4px 2px 0px rgba(20, 33, 43, 0.02);
  z-index: 10;
}
.alert-content {
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--color-border-default);
  background: var(--color-surface-default);
}
.alert-buttons {
  height: 48px;

  display: flex;
  align-items: flex-start;
  align-self: stretch;

  background: var(--color-surface-alt);
}
.alert-buttons button {
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;

  border: var(--border-default);
}
.alert-buttons button:hover {
  text-decoration: underline;
}
.alert-font-activate {
  color: var(--color-text-strong);
}
.alert-font-deactivate {
  color: var(--color-text-default);
}
.alert-buttons button:nth-child(1) {
  color: var(--color-text-default);
}
.alert-buttons button:nth-child(2) {
  color: var(--color-text-strong);
}

.grab {
  cursor: grabbing;
}
.grab > ul {
  pointer-events: none;
}
