@import "../utils/css/reset.css";
@import "./pressContent/pressContent.css";
@import "./newsbar/rolling.css";
@import "./header/header.css";

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
}

.pressbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
    width: 930px;
}

.pressbar-name-all {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #14212b;
    
}

.pressbar-name-subscribe {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color: #879298;
    padding-left: 24px;
}

#pressbar-icon-grid-view {
    height: 24px;
    width: 24px;
}

#pressbar-icon-list-view {
    padding-right: 8px;
    height: 24px;
    width: 24px;
}