.toggle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle i {
  font-size: 1.5em;
  color: #aaa;
}
.toggle input[type="radio"] {
  display: none;
}
.toggle input[type="radio"]:checked + label > i {
  color: #fff;
  transition: all 0.35s ease-in-out;
}
