.yonhapnews-container {
  display: flex;
  width: 930px;
  margin: 0 auto;
  padding: 0 70px;

}

.yonhapnews-container div {
  background-color: #F5F7F9;
  display: flex;
  align-items: center;
  width: 461px;
  height: 49px;
  border: solid 1px #d2dae0;
}

.yonhapnews-container div span {
  color: #5f6e76;
}

.yonhapnews-container div + div {
  margin-left: 8px;
}

.yonhapnews-container div h4 {
  padding: 10px 15px ;
}