.press__wrapper-list__entire,
.press__wrapper-list__subscribe {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;

  background-color: transparent;
  border: none;
}

.press-category__entire,
.press-category__subscribe {
  display: flex;
  flex-direction: column;
  width: 930px;
  height: 388px;

  border: 1px solid var(--grayscale-100);
  background-color: transparent;
}

/* 언론사 리스트의 NAV */
.press-category__ul__entire,
.press-category__ul__subscribe {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 930px;
  height: 8px;

  padding: 16px 0;
  border-bottom: 1px solid var(--grayscale-100);
  background-color: var(--grayscale-50);
}

.press-category__li__entire,
.press-category__li__subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 16px;
}

.press-category__p__entire,
.press-category__p__subscribe {
  font: var(--medium-R);
  color: var(--grayscale-200);
}

.press-category__div__entire,
.press-category__div__subscribe {
  display: flex;
}

.press-category__div-now__entire,
.press-category__div-now__subscribe {
  font: var(--bold-S);
  color: var(--grayscale-white-alt);
}

.press-category__div-divide__entire,
.press-category__div-divide__subscribe {
  font: var(--bold-S);
  color: var(--grayscale-white);
}

.press-category__div-sum__entire,
.press-category__div-sum__subscribe {
  font: var(--bold-S);
  color: var(--grayscale-white);
}

.progress-start__entire,
.progress-start__subscribe {
  width: 134px;

  background: linear-gradient(to right, var(--blue-100) 0%, var(--blue-500) 100%);
  background-size: 200% 100%;
  animation: fill-progress-bar 20s infinite linear forwards;
}

.progress-start__entire > p,
.progress-start__subscribe > p {
  color: var(--grayscale-white-alt);
}

@keyframes fill-progress-bar {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}

/* 언론사 리스트의 ARTICLE */
.press-category__article__entire,
.press-category__article__subscribe {
  display: flex;
  flex-direction: row;

  padding: 24px;
  gap: 32px;
}

.press-category__section-main__entire,
.press-category__section-main__subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* 언론사 리스트 ARTICLE-MAIN */
.section-main__nav__entire,
.section-main__nav__subscribe {
  display: flex;
  align-items: center;
  gap: 16px;
}

.section-main__img-logo__entire,
.section-main__img-logo__subscribe {
  height: 20px;
}

.section-main__edit__entire,
.section-main__edit__subscribe {
  display: flex;
  flex-direction: row;
}

.section-main__edit-time__entire,
.section-main__edit-time__subscribe {
  font: var(--medium-S);
  color: var(--grayscale-400);
}

.section-main__edit-p__entire,
.section-main__edit-p__subscribe {
  font: var(--medium-S);
  color: var(--grayscale-400);
}

.section-main__button__entire,
.section-main__button__subscribe {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60px;
  height: 24px;
  padding: 0 6px;

  gap: 2px;
  border-radius: 50px;
  border: 1px solid var(--grayscale-100);
  background-color: var(--grayscale-50);
}

.section-main__img-button__entire,
.section-main__img-button__subscribe {
  width: 12px;
  height: 12px;
}

.section-main__p-button__entire,
.section-main__p-button__subscribe {
  font: var(--medium-S);
  color: var(--grayscale-200);
}

.section-main__img-article__entire,
.section-main__img-article__subscribe {
  width: 320px;
  height: 200px;
  object-fit: cover;
}

.section-main__h2__entire,
.section-main__h2__subscribe {
  width: 320px;
  overflow-wrap: break-word;

  font: var(--medium-M);
  color: var(--grayscale-black);
}

/* 언론사 리스트 ARTICLE-SUB */
.press-category__section-sub__entire,
.press-category__section-sub__subscribe {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  gap: 16px;
}

.press-category__a-sub__entire,
.press-category__a-sub__subscribe {
  font: var(--medium-M);
  color: var(--grayscale-500);
  text-decoration: none;
}

.press-category__a-sub__entire:hover .press-category__a-sub__subscribe:hover {
  font: var(--medium-M);
  color: var(--grayscale-500);
  text-decoration: underline;
}

.section-sub__footer__entire,
.section-sub__footer__subscribe {
  display: flex;
  flex-direction: row;

  font: var(--medium-R);
  color: var(--grayscale-200);
}

/* 화살표 영역 */
.arrows__img-left__entire,
.arrows__img-left__subscribe {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 40px;

  left: -72px; /* 0 - 24 - 48 */
}

.arrows__img-right__entire,
.arrows__img-right__subscribe {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 40px;

  left: 978px; /* 930 + 48 */
}
