.press__wrapper-list {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;

  background-color: transparent;
  border: none;
}

.press-category {
  display: flex;
  flex-direction: column;
  width: 930px;
  height: 388px;

  border: 1px solid var(--grayscale-100);
  background-color: transparent;
}

/* 언론사 리스트의 NAV */
.press-category__ul {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 930px;
  height: 8px;

  padding: 16px 0;
  border-bottom: 1px solid var(--grayscale-100);
  background-color: var(--grayscale-50);
}

.press-category__li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 16px;
}

.press-category__p {
  font: var(--medium-R);
  color: var(--grayscale-200);
}

.press-category__div {
  display: flex;
}

.press-category__div-now {
  font: var(--bold-S);
  color: var(--grayscale-white-alt);
}

.press-category__div-divide {
  font: var(--bold-S);
  color: var(--grayscale-white);
}

.press-category__div-sum {
  font: var(--bold-S);
  color: var(--grayscale-white);
}

.progress-start {
  width: 134px;

  background: linear-gradient(to right, var(--blue-100) 0%, var(--blue-500) 100%);
  background-size: 200% 100%;
  animation: fill-progress-bar 20s infinite linear forwards;
}

.progress-start > p {
  color: var(--grayscale-white-alt);
}

@keyframes fill-progress-bar {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}

/* 언론사 리스트의 ARTICLE */
.press-category__article {
  display: flex;
  flex-direction: row;

  padding: 24px;
  gap: 32px;
}

.press-category__section-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* 언론사 리스트 ARTICLE-MAIN */
.section-main__nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.section-main__img-logo {
  height: 20px;
}

.section-main__edit {
  display: flex;
  flex-direction: row;
}

.section-main__edit-time {
  font: var(--medium-S);
  color: var(--grayscale-400);
}

.section-main__edit-p {
  font: var(--medium-S);
  color: var(--grayscale-400);
}

.section-main__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60px;
  height: 24px;
  padding: 0 6px;

  gap: 2px;
  border-radius: 50px;
  border: 1px solid var(--grayscale-100);
  background-color: var(--grayscale-50);
}

.section-main__img-button {
  width: 12px;
  height: 12px;
}

.section-main__p-button {
  font: var(--medium-S);
  color: var(--grayscale-200);
}

.section-main__img-article {
  width: 320px;
  height: 200px;
  object-fit: cover;
}

.section-main__h2 {
  width: 320px;
  overflow-wrap: break-word;

  font: var(--medium-M);
  color: var(--grayscale-black);
}

/* 언론사 리스트 ARTICLE-SUB */
.press-category__section-sub {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  gap: 16px;
}

.section-sub__a {
  font: var(--medium-M);
  color: var(--grayscale-500);
  text-decoration: none;
}

.section-sub__a:hover {
  font: var(--medium-M);
  color: var(--grayscale-500);
  text-decoration: underline;
}

.section-sub__footer {
  display: flex;
  flex-direction: row;

  font: var(--medium-R);
  color: var(--grayscale-200);
}

/* 화살표 영역 */
.arrows-category__img-left {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 40px;

  left: -72px; /* 0 - 24 - 48 */
}

.arrows-category__img-right {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 40px;

  left: 978px; /* 930 + 48 */
}
