/* 화살표 영역 */
.press__wrapper-grid {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
  border: none;
}

.arrows-logo__img-left {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 40px;

  left: -72px; /* 0 - 24 - 48 */
}

.arrows-logo__img-right {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 40px;

  left: 978px; /* 930 + 48 */
}

/* 언론사 로고 영역 */
.press-logo__wrapper-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style-type: none;
  padding: 0;
  border-top: 1px solid var(--grayscale-100);
  border-left: 1px solid var(--grayscale-100);
}

.press-logo__li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 154px;
  height: 96px;
  list-style-type: none;
  border-right: 1px solid var(--grayscale-100);
  border-bottom: 1px solid var(--grayscale-100);
}

.press-logo__li-hover {
  background-color: var(--grayscale-50);
}

/* 언론사 버튼 영역 */
.press-logo__li-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 50px;
  width: 72px;
  height: 24px;
  padding: 0 6px;
  gap: 2px;

  background-color: var(--grayscale-white-alt);
  border: 1px solid var(--grayscale-100);
}

.press-logo__li-p {
  font: var(--medium-S);
  color: var(--grayscale-200);
}
