* {
    font-family: "Pretendard";
}

body {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 930px;
}

/* header */
.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    width: inherit;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    width: 24px;
    height: 24px;
}

/* section */
.container_section {
    width: 930px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.container_section-banner {
    height: 49px;
    overflow: hidden;
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 16px;

    /* style */
    border: 1px solid #d2dae0;
    background-color: #f5f7f9;
}

.container_section-banner-press {
    display: block;
    margin-left: 16px;
}

.container_sec-banner-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container_sec_li-banner {
    height: 49px;
    display: flex;
    align-items: center;
    gap: 8px;

    position: absolute;
    top: 49px;
}

.container_sec_li-banner a {
    text-decoration: none;
}
.container_sec_li-banner a:hover {
    text-decoration: underline;
}

.container_section .prev {
    top: -49px;
    transition: top 1s ease;
}

.container_section .current {
    top: 0px;
    transition: top 1s ease;
}

.container_section .next {
    top: 49px;
}

/* main */

.snack-bar {
    background-color: #4362d0;
    color: #ffffff;
    padding: 16px 24px;
    box-shadow: 0px 2px 18px 0px rgba(20, 33, 43, 0.08), 0px 4px 2px 0px rgba(20, 33, 43, 0.02);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    /* visibility: hidden; */
    transform: translate(-50%, -50%);
}

.alert {
    color: #5f6e76;
    border: 1px solid #d2dae0;
    box-shadow: 0px 2px 18px 0px rgba(20, 33, 43, 0.08), 0px 4px 2px 0px rgba(20, 33, 43, 0.02);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    /* visibility: hidden; */
    transform: translate(-50%, -50%);
}

.pop_up {
}

.alert-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
    padding: 24px;
    background-color: #ffffff;
}

.alert-btn {
    background-color: #f5f7f9;
    display: flex;
}

.alert-btn-pos,
.alert-btn-neg {
    padding: 10px;
    width: 100%;
    border: 0;
    border-top: 1px solid #d2dae0;
}
.alert-btn-pos {
    border-right: 1px solid #d2dae0;
}

.alert-txt-strong {
    color: #14212b;
}

.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-arrow {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 24px;
    height: 40px;
}

.arrow {
    width: 24px;
    height: 40px;
}

.container_main_news {
    width: 930px;
}

.container_main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    /* 상수 따로 정의 */
    width: 930px;
}

.container_main_nav-left {
    gap: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container_main_nav-right {
    display: flex;
    gap: 8px;
}
.nav-left {
    display: block;
}

.nav-right_list_icon {
    /* #4362D0 */
    filter: none;
}

.nav-right_grid_icon {
    /* #4362D0 */
    filter: invert(49%) sepia(83%) saturate(5417%) hue-rotate(218deg) brightness(87%) contrast(85%);
}

/* grid view */

.main-grid-view {
    display: flex;
    align-items: center;
}

.main_news_container {
    width: 930px;
    height: 388px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: auto 48px;
    position: relative;
}

.main_news_container ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

.main_news_container li {
    list-style-type: none;
    width: 100%;
    height: 100%;
    border-top: 1px solid #d2dae0;
    border-left: 1px solid #d2dae0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_news_container li.border_bottom {
    border-bottom: 1px solid #d2dae0;
}

.main_news_container li.border_right {
    border-right: 1px solid #d2dae0;
}

.main_news_container li {
    position: relative;
    z-index: 1;
}

.mouse-enter-grid {
    width: inherit;
    height: inherit;
    background-color: #f5f7f9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* list view */
.main-list-view {
    display: none;
    align-items: center;
}

.title-main-news {
    text-decoration: none;
}

.main-list-view-news-list {
    width: 930px;
    height: 388px;
    display: flex;
    flex-direction: column;
    margin: auto 48px;
    position: relative;
}

.list-view-tab {
    height: 40px;
    display: flex;
    border: 1px solid #d2dae0;
    background-color: #f5f7f9;
    overflow: scroll;
}

.list-view-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: #f5f7f9;
    padding: 0;
}

.tab-item {
    /* display: none / flex */
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    width: max-content;
}

.tab-item-clicked {
    width: 166px;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;

    /* display: none / flex */
    display: none;
    align-items: center;
    background-color: #7890e7;
    position: relative;
}

.btn-tab-wrapper {
    z-index: 2;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@keyframes ani-progress-bar {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.btn-tab-progress {
    width: 166px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: ani-progress-bar 20s infinite linear;
    z-index: 1;
    background-color: #4362d0;
}

.btn-tab-count {
    display: flex;
    gap: 2px;
}

.btn-tab-category,
.btn-tab-count-present {
    color: #ffffff;
}

.btn-tab-count-divison,
.btn-tab-count-entire {
    color: rgba(255, 255, 255, 0.7);
}

.chevron-right {
    width: 14px;
    height: 14px;
}

.list-view-press-news {
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 1px solid #d2dae0;
    border-top: none;
}

.list-view-press-info {
    width: 882px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn-subscribe {
    display: flex;
    height: 24px;
    padding: 0px 6px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 50px;
    border: 1px solid #d2dae0;
    background-color: #f5f7f9;
}

.closed-icon {
    height: 24px;
    width: 24px;
}

.btn-subscribe-label {
    color: #879298;
    padding-right: 4px;
}

.list-view-news {
    width: 882px;
    height: 260px;
    display: flex;
    gap: 32px;
}

.list-view-news-main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list-view-news-sub ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-sub-item {
    margin-bottom: 16px;
    color: #4b5966;
}

.news-sub-item-url {
    text-decoration: none;
}

.main-thumbnail {
    width: 320px;
    height: 200px;
    overflow: hidden;
}

.img-main-thumbnail {
    width: 320px;
    height: 200px;
}

/* other */
.display-bold12 {
    font-weight: 700;
    font-size: 12px;
    line-height: 14.32px;
}

.bold14 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16.71px;
    color: #14212b;
}

.selected-bold14 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16.71px;
}

.bold16 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.09px;
    color: #14212b;
}

.bold24 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.64px;
    color: #14212b;
}

.available-medium12 {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.display-medium12 {
    color: #5f6e76;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.medium14 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.71px;
    color: #5f6e76;
}

.display-medium14,
.available-medium14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #879298;
}

.available-medium16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color: #4b5966;
}

.medium16 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #5f6e76;
}

/* view */
.grid-entire {
    display: flex;
}

.grid-subscribe {
    display: none;
}
.list-entire {
    display: none;
}

.list-subscribe {
    display: none;
}
