li{
    list-style: none;
}

label{
    padding:0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

div>img{
    width: auto;
    height: auto;
}

input[type="radio"]{
    display: none;
}

.main{
    margin:0 auto;
    padding-bottom: 30px;
    width:930px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

header.main{
    display: flex;
    justify-content: space-between;
}

.section-div{
    padding:15px 30px 15px 20px;
    border:0.5px #D2DAE0 solid;
    background-color:#F5F7F9;
}

#header-div-01{
    display: flex;
    flex-direction: row;
}

#header-div-01>img{
    width: 24px;
    height: 20px;
    margin-top: 4px;
    margin-right:8px;
}

#header-div-01>h1{
    font-size: 24px;
    font-weight: bold;
}
#header-div-01:hover{
    cursor:pointer
}

#header-div-02{
    margin-top: 7px;
    color:#5F6E76;
    font-size: 16px;
}


.section-strong{
    margin-right: 20px;
}

main.main{
    width:930px;
    height:430px;
}

#main-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

#main-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:220px;
}

#main-right{
    display: flex;
    justify-content: space-between;
    width:55px;
}
#main-right > img{
    width: 18px;
    height: 18px;
}

#main-grid{
    display: grid;
    width:930px;
    height:388px;
    grid-template-columns: repeat(6, minmax(155px, auto));
    grid-template-rows: repeat(4, minmax(97px, auto));
    grid-auto-flow: dense;
    place-items: center;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}

#main-grid>div{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-left: 1px black solid;
    border-top: 1px black solid;
}

#aside-left{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    margin-right: 40px;
}

#aside-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.main-container{
    display:flex;
    justify-content: space-evenly;
}

section.main{
    display: flex;
    justify-content: space-between;
}



#main-div-02{
    display: flex;
    flex-direction: row;
    position: relative;
    left: -65px;
}

input[type="radio"]:checked + label
{
    font-weight: bold;
}


#main-left-bar{
    position: relative;
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    overflow: hidden;
}

#main-left-bar ul{
    list-style: none;
}
#main-left-bar li{
    position: absolute;
    padding-top: 15px;
    margin-left: 90px;
    top: -80px;
    left: 0;
    overflow: hidden;
}

#main-left-bar li.prev{
    top: -60px;
    transition: top 0.5s ease;
}
#main-left-bar li.current{
    display: block;
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
    overflow: hidden;
    color: #000;
    top: 0;
    overflow: hidden;
    transition: top 0.5s ease;
}

#main-left-bar li.next{
    top: 60px;
}

#main-left-bar li.current:hover{
    cursor: pointer;
    text-decoration: underline;
}

#main-right-bar{
    position: relative;
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    overflow: hidden;
}

#main-right-bar ul{
    list-style: none;
}
#main-right-bar li{
    position: absolute;
    padding-top: 15px;
    margin-left: 90px;
    top: -80px;
    left: 0;
    overflow: hidden;
}

#main-right-bar li.prev{
    top: -60px;
    transition: top 0.5s ease;
}
#main-right-bar li.current{
    display: block;
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
    overflow: hidden;
    color: #000;
    top: 0;
    overflow: hidden;
    transition: top 0.5s ease;
}

#main-right-bar li.next{
    top: 60px;
}

#main-right-bar li.current:hover{
    cursor: pointer;
    text-decoration: underline;
}

.categoryBar{
    display: flex;
    flex-direction: row;
    width:930px;
    padding: 0;
    border-bottom:1px #D2DAE0 solid;
    background-color: #F5F7F9;
}

.categoryBar li{
    display: flex;
    height: 100%;
    padding: 15px 15px 15px 15px;
    justify-content: space-between;
    align-items: center;
}

.categoryBar li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.categoryBar > div li:first-child{
    display: flex;
    height: 100%;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.selected{
     background-color: #4362D0;
     animation: progressAnimation 10s;
}

.listHeader{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-bottom: 20px;
}

.subscribebtn{
    margin-left: 20px;
    font-size: 10px;
    border: #D2DAE0 1px solid;
    border-radius: 20px;
    background-color: #F5F7F9;
}

.articleMain{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainImgFrame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 200px;
    overflow: hidden;
}

.mainImg{
    width: 320px;
    height: 200px;
}

.articleMain:hover img{
    animation: mainImgAnimation 2s;
    animation-fill-mode: forwards;
}

.articleMain:hover div{
    text-decoration: underline;
}

.article{
    display: flex;
    flex-direction: row;
}

.articleList{
    width:  530px;
}

.articleText{
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
    overflow: hidden;
    color: #000;
}

.articleText:hover{
    text-decoration: underline;
    cursor: pointer;
}

.selectedprogress{	    
    background-color: #7890E7;
    width: 200px;
    display: flex; 
    flex-direction: row;
}

.pageinfo{
    display: inline-block;
    position: absolute;
    padding-left: 150px;
    padding-top: 15px;
    z-index: 99;
}

.categoryinfo{
    display: inline-block;
    position: absolute;
    padding-left: 15px;
    padding-top: 15px;
    z-index: 99;
}

.gridSubscribeBtn{
    display: flex;
    height: 24px;
    padding: 0px 6px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 50px;
    border: 1px solid #D2DAE0;
    background-color: #FFFFFF;
    font-size: 12px;
    color: #879298;
}

@keyframes progressAnimation {
    from { width: 0 }
    to   { width: 100% }
}

@keyframes mainImgAnimation {
    from {  
        width: 320px;
        height: 200px;
    }
    to {
        width: 336px;
        height: 210px;
    }
}