@import url('styles/reset.css');
@import url('styles/color.css');
@import url('styles/typography.css');

@import url('styles/components/header.css');
@import url('styles/components/latestNews.css');
@import url('styles/components/allNews.css');
@import url('styles/components/alert.css');

/* common */
.common-button {
  display: flex;
  height: 24px;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-shrink: 0;

  border-radius: 50px;
}

.common-button:hover img {
  content: url('src/assets/icons/plus-hover.svg');
}
.dark .common-button:hover img {
  content: url('src/assets/icons/plus-hover-dark.svg');
}
/* class */

h1,
h2,
h3 {
  display: inline;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  position: relative;
}

.left-button,
.right-button {
  width: 24px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#darkmode-icon {
  cursor: pointer;
  width: 24px;
}

#dark-mode-wrapper {
  border: 2px solid var(--border-default);
  border-radius: 24px;

  width: 70px;
  height: 35px;
  position: relative;

  display: flex;
  align-items: center;

  cursor: pointer;
}

#dark-mode-wrapper > img {
  position: absolute;
  left: 6px;
  margin-left: 1px;
  transition: all 0.3s ease-in-out;
}

.dark #dark-mode-wrapper > img {
  position: absolute;
  left: 36px;
  transition: all 0.3s ease-in-out;
}
