@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("./styles/reset.css");
@import url("./styles/global-style.css");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard";
  font-style: normal;
  line-height: normal;
}

.news-stand-container {
  display: flex;
  flex-direction: column;
  width: 930px;
}

/* header-wrapper */
.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 58px;
}

.header-wrapper > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
}

.header_title {
  font: var(--bold-L);
  color: var(--grayscale-black);
}

.system-date {
  font: var(--medium-M);
  color: var(--grayscale-400);
}

/* hot-topic-wrapper */
.hot-topic-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  gap: 16px;
}

.hot-topic-wrapper > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  width: 461px;
  height: 49px;
  padding: 16px;
  box-sizing: border-box;
  gap: 16px;

  background-color: var(--grayscale-50);
  border: 1px solid var(--grayscale-100);

  overflow: hidden;
}

.hot-topic_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  position: absolute;
  top: 62px; /* 49 + 13 */
}

.hot-topic-wrapper > * > .prev {
  top: -36px;
}

.hot-topic-wrapper > * > .current {
  top: 13px;
  transition: top 0.5s ease;
}

.hot-topic-wrapper > * > .next {
  top: 62px; /* 49 + 13 */
}

.hot-topic_list_title {
  font: var(--bold-R);
  color: var(--grayscale-black);
}

.hot-topic_list_content {
  font: var(--medium-R);
  color: var(--grayscale-400);
}

.hot-topic_list > p:hover {
  text-decoration: underline;
}

/* press-wrapper */
.press-wrapper {
  margin-top: 33px;
  background-color: var(--grayscale-white);
}

.press-wrapper > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.press-wrapper > header > nav {
  display: flex;
  flex-direction: row;
}

.main-nav-left {
  align-items: center;
  gap: 24px;
}

.main-nav_selected {
  font: var(--bold-M);
  color: var(--grayscale-black);
}

.main-nav_unselected {
  font: var(--medium-M);
  color: var(--grayscale-200);
}

.main-nav-right {
  gap: 8px;
}

/* .arrows-wrapper */
.arrows-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 25px;
}

.left-arrow {
  position: absolute;
  width: 24px;
  height: 40px;

  left: -72px; /* 0 - 24 - 48 */
}

.right-arrow {
  position: absolute;
  width: 24px;
  height: 40px;

  left: 978px; /* 930 + 48 */
}

/* news-grid-wrapper */
.news-grid-wrapper {
  display: grid;

  grid-template-columns: repeat(6, 1fr);
  list-style-type: none;
  padding: 0;
  border-top: 1px solid #d2dae0;
  border-left: 1px solid #d2dae0;
}
.news-grid-wrapper > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 154px;
  height: 96px;
  list-style-type: none;
  border-right: 1px solid #d2dae0;
  border-bottom: 1px solid #d2dae0;
}

.news-list-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 1280px;
  height: 388px;
  border: 1px solid var(--grayscale-100);
}

.news-list_category {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;

  border-bottom: 1px solid var(--grayscale-100);
  background-color: var(--grayscale-50);

  cursor: pointer;
}

.news-list_category li {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  box-sizing: border-box;

  position: relative;
  z-index: 1;
}

.news-list_category li * {
  z-index: 3;
}

.news-list_category li .progress_bar {
  width: 166px;
  height: 40px;
  background-color: var(--blue-500);

  position: absolute;
  left: 0px;
  z-index: 2;
}

.news-list_category div {
  display: flex;
}

.category_selected {
  width: 166px;
  justify-content: space-between;
  font: var(--bold-R);
  color: var(--grayscale-white-alt);
  background-color: var(--blue-100);
}

.category_selected div :nth-child(2) {
  color: var(--grayscale-white);
}

.category_unselected {
  color: var(--grayscale-200);
}

.news-list_media {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 24px;
  gap: 16px;
}

.news-list_media_header {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 16px;
}

.news-list_media_header img {
  width: 53px;
  height: 20px;
}

.news-list_unsubscribed_btn {
  display: flex;
  height: 24px;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 2px;

  color: var(--grayscale-200);
  border-radius: 50px;
  border: 1px solid var(--grayscale-100);
  background-color: var(--grayscale-50);

  cursor: pointer;
}

.news-list_subscribed_btn {
  display: flex;
  height: 24px;
  justify-content: center;
  align-items: center;
  padding: 0 6px;

  border-radius: 50px;
  border: 1px solid var(--grayscale-100);
  background-color: var(--grayscale-white);

  color: var(--grayscale-200);
}

.news-list_media_header p {
  color: var(--grayscale-400);
}

.news-list_media_content {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.news-list_media_content_main {
  display: flex;
  flex-direction: column;

  width: 320px;
  height: 100%;
  gap: 16px;

  color: var(--grayscale-black);
}

.news-list_media_content_sub {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  color: var(--grayscale-500);
}

.news-list_media_content_main p,
.news-list_media_content_sub li {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.hot-topic-wrapper > * > *,
.press-wrapper > header > * > *,
.news-grid-wrapper > li > img,
.arrows-wrapper > img,
.header-wrapper > button {
  cursor: pointer;
}

/* 재사용 CSS */
.hidden {
  display: none;
}
