body {
    display: grid;
    grid-template-columns: 1fr 930px 1fr;
    margin: 3em;
}

.container_between {
    margin: auto 2em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.container_center {
    margin: auto 2em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.header_left {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    justify-items: center;
    gap: 8px;
}

.header_left img {
    object-fit: none;
}

.header-right {
    width: 140px;
    height: 22px;
}

.sec_trend_news {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 100%;
    height: 49px;
    margin-right: 8px;

    position: relative;
}

.sec_trend_news ul {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    margin: 0;
    padding: 0;
}

.sec_trend_news li {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;

    border: none;
    font-size: 14px;
}

.sec_trend_news li.prev {
    position: absolute;
    top: -50px;
}

.sec_trend_news li.current {
    top: 0px;
}

.sec_trend_news li.next {
    position: absolute;
    top: 50px;
}

.sec_trend_news span,
a {
    display: flex;
    flex-direction: row;
    margin: auto 1em;
}

.nav_container span,
#navLeft,
#navRight {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    gap: 8px;
}
#navLeft {
    gap: 24px;
}

.nav_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.main_news_container {
    width: 930px;
    height: 388px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.main_news_container ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

.main_news_container li {
    list-style-type: none;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15%;
}

.left_arrow {
    position: relative;
    left: 25%;
}

.right_arrow {
    position: relative;
    right: 25%;
}
