li{
    list-style: none;
}

label{
    padding:0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

div>img{
    width: auto;
    height: 20px;
}

input[type="radio"]{
    display: none;
}

.main{
    margin:0 auto;
    padding-bottom: 30px;
    width:930px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

header.main{
    display: flex;
    justify-content: space-between;
}

.section-div{
    padding:15px 30px 15px 20px;
    border:0.5px #D2DAE0 solid;
    background-color:#F5F7F9;
}

#header-div-01{
    display: flex;
    flex-direction: row;
}

#header-div-01>img{
    width: 24px;
    height: 20px;
    margin-top: 4px;
    margin-right:8px;
}

#header-div-01>h1{
    font-size: 24px;
    font-weight: bold;
}
#header-div-01:hover{
    cursor:pointer
}

#header-div-02{
    margin-top: 7px;
    color:#5F6E76;
    font-size: 16px;
}


.section-strong{
    margin-right: 20px;
}

main.main{
    width:930px;
    height:430px;
}

#main-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

#main-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:220px;
}

#main-right{
    display: flex;
    justify-content: space-between;
    width:55px;
}
#main-right > img{
    width: 18px;
    height: 18px;
}

#main-grid{
    display: grid;
    width:930px;
    height:388px;
    grid-template-columns: repeat(6, minmax(155px, auto));
    grid-template-rows: repeat(4, minmax(97px, auto));
    grid-auto-flow: dense;
    place-items: center;
    border-top: 1px solid #D2DAE0;
    border-left: 1px solid #D2DAE0;
}

#main-grid>div{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: #FFFFFF;
    justify-content: center;
    border-bottom: 1px solid #D2DAE0;
    border-right: 1px solid #D2DAE0;
}

#aside-left{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    margin-right: 40px;
}

#aside-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.main-container{
    display:flex;
    justify-content: space-evenly;
}

section.main{
    display: flex;
    justify-content: space-between;
}



#main-div-02{
    display: flex;
    flex-direction: row;
    position: relative;
    left: -65px;
}

input[type="radio"]:checked + label
{
    font-weight: bold;
}


#main-left-bar{
    position: relative;
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    overflow: hidden;
}

#main-left-bar ul{
    list-style: none;
}
#main-left-bar li{
    position: absolute;
    padding-top: 15px;
    margin-left: 90px;
    top: -80px;
    left: 0;
    overflow: hidden;
}

#main-left-bar li.prev{
    top: -60px;
    transition: top 0.5s ease;
}
#main-left-bar li.current{
    display: block;
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
    overflow: hidden;
    color: #000;
    top: 0;
    overflow: hidden;
    transition: top 0.5s ease;
}

#main-left-bar li.next{
    top: 60px;
}

#main-left-bar li.current:hover{
    cursor: pointer;
    text-decoration: underline;
}

#main-right-bar{
    position: relative;
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    overflow: hidden;
}

#main-right-bar ul{
    list-style: none;
}
#main-right-bar li{
    position: absolute;
    padding-top: 15px;
    margin-left: 90px;
    top: -80px;
    left: 0;
    overflow: hidden;
}

#main-right-bar li.prev{
    top: -60px;
    transition: top 0.5s ease;
}
#main-right-bar li.current{
    display: block;
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
    overflow: hidden;
    color: #000;
    top: 0;
    transition: top 0.5s ease;
}

#main-right-bar li.next{
    top: 60px;
}

#main-right-bar li.current:hover{
    cursor: pointer;
    text-decoration: underline;
}

.categoryBar{
    display: flex;
    flex-direction: row;
    width: 930px;
    height: 40px;
    padding: 0;
    border-bottom: 1px #D2DAE0 solid;
    border-right: 1px #D2DAE0 solid;
    background-color: #F5F7F9;
    overflow-x: scroll;
    white-space: nowrap;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: #879298;
}

.categoryBar::-webkit-scrollbar{
    display: none;
}

.categoryBar li{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 16px;
    align-items: center;
}

.categoryBar li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.categoryBar > div li:first-child{
    display: flex;
    height: 100%;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.selected{
     width: 166px;
     font-style: bold;
     color: #FFFFFF;
}

.listHeader{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-bottom: 20px;
}

.subscribebtn{
    margin-left: 20px;
    font-size: 10px;
    border: #D2DAE0 1px solid;
    border-radius: 20px;
    background-color: #F5F7F9;
}

.articleMain{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainImgFrame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 200px;
    overflow: hidden;
}

.mainImg{
    width: 320px;
    height: 200px;
}

.articleMain:hover img{
    animation: mainImgAnimation 2s;
    animation-fill-mode: forwards;
}

.articleMain:hover div{
    text-decoration: underline;
}

.article{
    display: flex;
    flex-direction: row;
}

.articleList{
    width:  530px;
}

.articleText{
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
    overflow: hidden;
    color: #000;
}

.articleText:hover{
    text-decoration: underline;
    cursor: pointer;
}

.selectedprogress{	    
    background-color: #7890E7;
    width: 166px;
    display: flex; 
    flex-direction: row;
    padding-left: 16px;
}

.pageinfo{
    display: flex;
    color: #FFFFFF;
    align-items: center;
    padding-right: 16px;
}

.gridSubscribeBtn{
    display: flex;
    height: 24px;
    padding: 0px 6px;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #D2DAE0;
    background-color: #FFFFFF;
    font-size: 12px;
    color: #879298;
}

.alert-container {
    display: flex;
    position: absolute;
    left: 40%;
    top: 0;
    flex-direction: column;
    width: 320px;
    border: 1px solid #D2DAE0;
    background: #FFFFFF;
    box-shadow: 0px 2px 18px 0px rgba(20, 33, 43, 0.08),
        0px 4px 2px 0px rgba(20, 33, 43, 0.02);
}

.alert-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92px;
    margin: 0 auto;

    text-align: center;
    color: var(--color-text-default);
    border-bottom: 1px solid #D2DAE0;
}

.alert-message > span {
    display: contents;
    color: var(--color-text-strong);
}

.alert-button-container {
    display: flex;
    width: 100%;
    height: 48px;
    text-align: center;
    background: #F5F7F9;
}

.alert-confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: #14212B;
    border-right: 1px solid #D2DAE0;

    cursor: pointer;
}

.alert-cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: #14212B;

    cursor: pointer;
}

.alert-confirm:hover,
.alert-cancel:hover {
    color: #5F6E76;
    text-decoration: underline;
}

.hidden {
    display: none;
}  

.snackbar{
    position: absolute;
    width: 286px;
    height: 54px;
    background-color: #4362D0; 
    color: #FFFFFF; 
    text-align: center; 
    padding: 16px 24px; 
    z-index: 99;
}

@keyframes mainImgAnimation {
    from {  
        width: 320px;
        height: 200px;
    }
    to {
        width: 336px;
        height: 210px;
    }
}