:root {
  /* font size */
  --text-size-large: 24px;
  --text-size-medium: 16px;
  --text-size-regular: 14px;
  --text-size-small: 12px;

  /* font weight */
  --text-weight-bold: 700;
  --text-weight-medium: 500;

  /* color palette */

  /* grayscale */
  --color-grayscale-white-alt: #ffffffb2;
  --color-grayscale-white: #ffffff;
  --color-grayscale-50: #f5f7f9;
  --color-grayscale-100: #d2dae0;
  --color-grayscale-200: #879298;
  --color-grayscale-300: #6e8091;
  --color-grayscale-400: #5f6e76;
  --color-grayscale-500: #4b5966;
  --color-grayscale-black: #14212b;

  /* blue */
  --color-blue-100: #7890e7;
  --color-blue-500: #4362d0;

  /* semantic colors */
  --color-text-strong: var(--color-grayscale-black);
  --color-text-bold: var(--color-grayscale-500);
  --color-text-default: var(--color-grayscale-400);
  --color-text-weak: var(--color-grayscale-300);
  --color-text-white-default: var(--color-grayscale-white);
  --color-text-white-weak: var(--color-grayscale-white-alt);
  --color-text-point: var(--color-blue-500);
  --color-surface-default: var(--color-grayscale-white);
  --color-surface-alt: var(--color-grayscale-50);
  --color-surface-brand-default: var(--color-blue-500);
  --color-surface-brand-alt: var(--color-blue-100);
  --color-border-bold: var(--color-grayscale-300);
  --color-border-default: var(--color-grayscale-100);

  /* objects */
  --border-default: 1px solid var(--color-border-default);
  --box-shadow-popup: 0px 2px 18px 0px rgba(20, 33, 43, 0.08),
    0px 4px 2px 0px rgba(20, 33, 43, 0.02);
}

/* dark mode */
.dark {
  --color-text-strong: var(--color-grayscale-white);
  --color-text-bold: var(--color-grayscale-50);
  --color-text-default: var(--color-grayscale-100);
  --color-text-weak: var(--color-grayscale-white-alt);
  --color-text-white-default: var(--color-grayscale-white);
  --color-text-white-weak: var(--color-grayscale-white-alt);
  --color-text-point: var(--color-blue-500);
  --color-surface-default: var(--color-grayscale-black);
  --color-surface-alt: var(--color-grayscale-500);
  --color-surface-brand-default: var(--color-blue-500);
  --color-surface-brand-alt: var(--color-blue-100);
  --color-border-bold: var(--color-grayscale-white-alt);
  --color-border-default: var(--color-grayscale-400);
}

/* reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  color: inherit;
}
* {
  box-sizing: border-box;
}

/* foundations */

/* typography */

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("./assets/fonts/Pretendard-Bold.subset.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-Bold.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("./assets/fonts/Pretendard-Medium.subset.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-Medium.subset.woff") format("woff");
}
* {
  font-family: Pretendard;
}

.display-bold24 {
  font-size: var(--text-size-large);
  font-weight: var(--text-weight-bold);
}
.display-bold16 {
  font-size: var(--text-size-medium);
  font-weight: var(--text-weight-bold);
}
.display-bold14 {
  font-size: var(--text-size-regular);
  font-weight: var(--text-weight-bold);
}
.display-bold12 {
  font-size: var(--text-size-small);
  font-weight: var(--text-weight-bold);
}
.display-medium16 {
  font-size: var(--text-size-medium);
  font-weight: var(--text-weight-medium);
  line-height: 22px;
}
.display-medium14 {
  font-size: var(--text-size-regular);
  font-weight: var(--text-weight-medium);
}
.display-medium12 {
  font-size: var(--text-size-small);
  font-weight: var(--text-weight-medium);
}
.selected-bold16 {
  font-size: var(--text-size-medium);
  font-weight: var(--text-weight-bold);
}
.selected-bold14 {
  font-size: var(--text-size-regular);
  font-weight: var(--text-weight-bold);
}
.available-medium16 {
  font-size: var(--text-size-medium);
  font-weight: var(--text-weight-medium);
  line-height: 22px;
}
.available-medium14 {
  font-size: var(--text-size-regular);
  font-weight: var(--text-weight-medium);
}
.available-medium12 {
  font-size: var(--text-size-small);
  font-weight: var(--text-weight-medium);
}
.hover-medium16 {
  font-size: var(--text-size-medium);
  font-weight: var(--text-weight-medium);
  line-height: 22px;
  text-decoration-line: underline;
}
.hover-medium14 {
  font-size: var(--text-size-regular);
  font-weight: var(--text-weight-medium);
  text-decoration-line: underline;
}

/* colors */

/* main css */

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 930px;
  width: 100%;
}
.container-header_main {
  margin-bottom: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-header_logo > a {
  gap: 8px;

  display: flex;
  align-items: center;
}
.container-header_logo svg {
  fill: var(--color-text-point);
}
.container-header_date {
  color: var(--color-text-default);
}
.container-news-bar {
  margin-top: 40px;
  margin-bottom: 33px;
  gap: 8px;

  display: flex;
  align-items: center;
}
.container-news-bar_wrap {
  height: 49px;
  width: 100%;
  padding: 16px;
  gap: 16px;

  display: flex;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  background: var(--color-surface-alt);
  border: var(--border-default);
}
.container-news-bar > div > ul {
  overflow: hidden;
  color: var(--color-text-default);
}
.container-news-bar_wrap li {
  top: 100px;

  position: absolute;
}
.container-news-bar_wrap li:hover {
  text-decoration: underline;
}
ul .prev {
  top: -50px;

  transition: top 1s ease;
}
ul .current {
  top: 15px;

  transition: top 1s ease;
}
ul .next {
  top: 50px;
}

.main-nav {
  margin-bottom: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav > div {
  display: flex;
  align-items: center;
}
.main-nav_tabs {
  gap: 24px;

  color: var(--color-text-weak);
}
.main-nav_tabs--selected {
  color: var(--color-text-strong);
}
.main-nav_viewer {
  gap: 8px;

  color: var(--color-text-weak);
}
.main-nav_viewer--selected {
  color: var(--color-text-point);
}
.container-grid-view {
  display: flex;
  align-items: center;

  position: relative;
}
.grid-view {
  width: 100%;

  display: grid;
  grid-template-rows: repeat(4, 96px);
  grid-template-columns: repeat(6, 1fr);

  border-left: 1px solid #d2dae0;
  border-top: 1px solid #d2dae0;
}
.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 1px solid #d2dae0;
  border-bottom: 1px solid #d2dae0;
}
.grid-cell > button {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-cell_news-img {
  width: auto;
  height: 20px;
}
.container-grid-view_left-btn {
  right: 100%;

  position: absolute;

  transform: translateX(-48px);
}
.container-grid-view_right-btn {
  left: 100%;

  position: absolute;

  transform: translateX(48px);
}

.hidden {
  display: none;
}
