@import "reset.css";
@import "constant.css";
@import "pretendard/pretendard.css";

body {
    font-family: "Pretendard";
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 930px;
    height: 100vh;
}
.news_stand_wrapper {
    width: 930px;
}

/* 위 */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
}


.title_wrapper {
    display: flex;
    /* border: 1px solid yellow; */
}

.title_wrapper img {
    width : 24px;
    height : 24px;
    margin-right : 8px;
}

/* 중간 */

.article_wrapper {
    display: flex;
    gap: 10px;
}

article {
    display: flex;
    align-items: center;
    width: 100%;
    border: var(--border-default);
    margin: 40px 0 32px;
    padding: 16px;
}

.news_title_wrapper {
    margin-left: 10px;
}

.view_select {
    display: flex;
    align-items: center;
    gap: 8px;
}

.view_select img{
    cursor:pointer;
}
/* 아래 */

main {
    display: flex;
    width: 100%;
}

.media_wrapper {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
}

.media_select_wrapper {
    display: flex;
    align-items: center;
    gap : 24px;
}

.media_select{
    cursor:pointer;
}
ul {
    display: grid;
    width: 930px;
    height: 388px;
    /* 6 * 4 grid */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0;
    border-top: var(--border-default);
    border-left: var(--border-default);
}

ul li {
    border-right: var(--border-default);
    border-bottom: var(--border-default);
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_wrapper{
    position: relative;
    display: flex;
    align-items: center;
}
.arrow_wrapper{
    position: absolute;
    right:-72px;
    cursor:pointer;
}
