/* <section class="news-bar">
<div class="news">
  <span class="press"></span>
  <span class="news-title"></span>
</div>
<div class="news">
  <span class="press"></span>
  <span class="news-title"></span>
</div>
</section> */

section {
  display: flex;
  width: 930px;
  align-items: flex-start;
  gap: 8px;
}

.news {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  border: 1px solid var(--border-border-default, #d2dae0);
  background: var(--surface-surface-alt, #f5f7f9);
}

.press {
  color: var(--text-text-strong, #14212b);
  /* display-bold14 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.news-title {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: var(--text-text-default, #5f6e76);
  /* available-medium14 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
