.news_stand_container {
  display: flex;
  flex-direction: column;
}

.main_title_wrapper,
.hot_topic_wrapper,
.hot_topic_wrapper > li,
.press_wrapper > header,
.press_wrapper > header > nav,
.press_wrapper > header > ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.hot_topic_wrapper > li {
  /* background-color: #d2dae0; */
  border: 1px solid #d2dae0;
  padding: 0px 20px;
  width: 50%;
}

.hot_topic_wrapper,
.main_title_wrapper,
.press_wrapper {
  padding: 10px 40px;
  box-sizing: border-box;
}

.main_title_wrapper,
.hot_topic_wrapper > li {
  align-items: center;
}

.news_wrapper > li {
  list-style-type: none;
  border-right: 1px solid #d2dae0;
  border-bottom: 1px solid #d2dae0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.news_wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style-type: none;
  padding: 0;
  border-top: 1px solid #d2dae0;
  border-left: 1px solid #d2dae0;
}
