:root {
  --graycale-white: #ffffff;
  --grayscale-50: #f5f7f9;
  --surface-default: #ffffff;
  --text-default: #d2dae0;
  --bg-color: #ffffff;
  --light-logo-display: block;
  --dark-logo-display: none;
}

:root[data-theme="dark"] {
  --bg-color: black;
  --light-logo-display: none;
  --dark-logo-display: block;
}
