@import url("./constant.css");

/* initial page */
#page0 {
  display: grid;
}

/* grid view */
.grid_container {
  display: none;
  border-top: 1px solid var(--border-default);
  border-left: 1px solid var(--border-default);
  background: var(--surface-default);
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
  padding: 0;
  height: 100%;
  margin: 0;
  transition: all 0.5s;
}
.grid_item {
  border-right: 1px solid var(--border-default);
  border-bottom: 1px solid var(--border-default);
  z-index: 1;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.grid_item:hover {
  background: var(--surface-alt);
  z-index: 0;
}

/* sub buttons */
.sub_button_container {
  background: var(--surface-alt);
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 0.5s;
}
.sub_button {
  width: 72px;
  height: 24px;
  border-radius: 50px;
  font-size: 12px;
  color: #879298;
  border: 1px solid #d2dae0;
  background-color: #ffffff;
}
.sub_button:hover {
  cursor: pointer;
}
.unsub_button {
  width: 72px;
  height: 24px;
  border-radius: 50px;
  font-size: 12px;
  color: #879298;
  border: 1px solid #d2dae0;
  background-color: #f5f7f9;
}
.unsub_button:hover {
  cursor: pointer;
}
