/***** 언론사 목록 grid style *****/
#press-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 930px;
  height: 388px;
  gap: 1px;
  border-top: 1px solid var(--border-border-default, #d2dae0);
  border-left: 1px solid var(--border-border-default, #d2dae0);
}

.press-item {
  display: flex;
  border-right: 1px solid var(--border-default);
  border-bottom: 1px solid var(--border-default);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/***** grid hover시 구독하기 버튼 나타나게 *****/
.sub {
  display: none;
}

.press-item:hover {
  background-color: var(--surface-alt);
}

.press-item:hover .sub {
  display: block;
  cursor: pointer;
}

.press-item:hover .original {
  display: none;
}
