@import url(./variable.css);

.grid-view {
  display: flex;
  height: 388px;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  flex-shrink: 0;
  border: var(--border-border-default) solid var(--border-default);
  background: var(--border-default);
}

.grid-view .grid-row {
  display: flex;
  align-items: flex-start;
  gap: 1px;
  flex: 1 0 0;
  align-self: stretch;
}

.grid-view .grid-row li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  background: var(--surface-default);
  cursor: pointer;
}

.grid-view .grid-row button:hover {
  cursor: pointer;
}
