/* initial page */
#page0 {
  display: grid;
}

/* grid view */
.grid_container {
  display: none;
  border-top: solid 1px #d2dae0;
  border-left: solid 1px #d2dae0;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
  padding: 0;
  height: 100%;
  margin: 0;
}
.grid_item {
  border-right: solid 1px #d2dae0;
  border-bottom: solid 1px #d2dae0;
  z-index: 1;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.grid_item:hover {
  background-color: #f5f7f9;
  z-index: 0;
}

/* page buttons */
.left_grid_button {
  position: absolute;
  display: none;
  top: 50%;
  left: -48px;
  transform: translate(0%, -50%);
}
.right_grid_button {
  position: absolute;
  top: 50%;
  right: -48px;
  transform: translate(0%, -50%);
}

/* sub buttons */
.sub_button_container {
  background-color: #f5f7f9;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.sub_button {
  width: 72px;
  height: 24px;
  border-radius: 50px;
  font-size: 12px;
  color: #879298;
  border: 1px solid #d2dae0;
  background-color: #ffffff;
}
.unsub_button {
  width: 72px;
  height: 24px;
  border-radius: 50px;
  font-size: 12px;
  color: #879298;
  border: 1px solid #d2dae0;
  background-color: #f5f7f9;
}
