/***** list형 - nav style *****/
/* 프로그레스바 animation style */
.progress-item {
  cursor: pointer;
}

.progress-item:hover {
  text-decoration: underline;
}

.progress-bar {
  background: var(--progress-before);
  display: flex;
  width: 166px;
  height: 40px;
  padding: 0px 16px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  flex-shrink: 0;
  color: white !important;
  position: relative;
  z-index: 2;
}

.progress-bar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 0;
  background: var(--progress-after);
  animation: progress 20s linear;
  z-index: -1;
}

@keyframes progress {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

/* 프로그레스바 count style */
.count {
  display: flex;
  align-items: center;
  gap: 2px;
}
.count > span {
  color: var(--text-white-weak);
  font-size: 12px;
  line-height: normal;
}
.now-count {
  color: #fff !important;
}
/* list형 nav style */
.list-nav > ul {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-default);
  background: var(--surface-alt);
}

.list-nav > ul > li {
  display: flex;
  color: var(--text-text-weak, #879298);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0 16px;
  align-items: center;
  cursor: pointer;
}

/***** list형 - article style *****/
/* 언론사명, 편집 날짜, 구독하기 버튼 style */
.news-article {
  padding: 24px;
  border: 1px solid var(--border-default);
  border-top: none;
  position: relative;
}

.news-article {
  position: relative;
}

.press-info {
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-bottom: 16px;
}

.edit-date {
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  padding: 0 16px;
}

.press-info > button {
  background: none;
  border: none;
}

.press-brandmark {
  width: 52.5px;
  height: 20px;
  flex-shrink: 0;
}

/* 기사 부분 style */
.news {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.news-main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.news-main > img {
  margin-bottom: 16px;
  width: 320px;
  height: 200px;
  border: 1px solid var(--border-default);
  background: lightgray 0px -11.561px / 100% 106.561% no-repeat;
}

.news-main > img:hover {
  transform: scale(1.05);
}

.news-main > h2 {
  overflow: hidden;
  color: var(--text-text-strong, #14212b);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  width: 320px;
}

.news-main > h2:hover {
  text-decoration: underline;
}

.news-sub-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}
.news-sub-list > li {
  color: var(--text-text-bold);
  font-size: 16px;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  cursor: pointer;
}

.news-sub-list > li:hover {
  text-decoration: underline;
}

.news-sub-list > li:nth-child(7) {
  color: var(--text-weak);
  font-size: 14px;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  cursor: default;
}
