/* list view */
.list_container {
  display: none;
  transition: all 0.5s;
}

/* category */
.category_container_header {
  border: 1px solid var(--border-default);
  background: var(--surface-alt);
  transition: all 0.5s;
  overflow: scroll;
}
.category_container_header::-webkit-scrollbar {
  display: none;
  transition: all 0.5s;
}

.category_list_container {
  position: relative;
  width: 100%;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  transition: all 0.5s;
}
.category_list {
  position: relative;
  padding: 11.5px 16px 11.5px 16px;
  list-style: none;
  color: var(--text-weak);
  min-width: fit-content;
}

.category_list:hover {
  text-decoration-line: underline;
  cursor: pointer;
}
.category_list__title {
  position: relative;
  z-index: 100;
  transition: all 0.5s;
}
.category_list--clicked {
  background: var(--surface-brand-alt);
  min-width: 166px;
  color: var(--text-white-default);
  display: flex;
  justify-content: space-between;
}

.category_list--clicked:hover {
  cursor: default;
  text-decoration-line: none;
}
.page_count_wrapper {
  font-size: 12px;
  display: none;
}

.category_list--clicked > .page_count_wrapper {
  z-index: 60;
  display: inline;
}
.category_list--clicked > .progressbar {
  display: inline;
}

/* progress animation */
.progressbar {
  display: none;
  position: absolute;
  background: var(--surface-brand-default);
  height: 100%;
  width: 0px;
  top: 0;
  left: 0;
  z-index: 50;
  animation: scale 20s linear;
  animation-iteration-count: infinite;
}
@keyframes scale {
  to {
    width: 100%;
  }
}

.all_page {
  opacity: 0.7;
}

/* news container */
.list_container__wrapper {
  border: 1px solid var(--border-default);
  border-top: none;
  padding: 24px;
  transition: all 0.5s;
}
.list_container__wrapper__header {
  gap: 16px;
  margin-bottom: 16px;
}
.list_container__wrapper__header__time {
  color: var(--text-default);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.5s;
}
.list_container__wrapper__main {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

/* topic */
.topic {
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  transition: all 0.5s;
}
.topic > span {
  height: 44px;
  overflow: hidden;
  align-self: stretch;
  color: var(--text-strong);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-overflow: ellipsis;
  transition: all 0.5s;
}
.topic:hover {
  cursor: pointer;
  text-decoration-line: underline;
}
.topic__thumbnail_frame {
  width: 320px;
  height: 200px;
  overflow: hidden;
}
.topic__thumbnail {
  align-items: center;
  transition: all 0.1s linear;
}
.topic__thumbnail:hover {
  transform: scale(1.05);
}

/* news list */
.news_list__container {
  list-style: none;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
  gap: 16px;
  font-size: 16px;
  color: var(--text-bold);
  margin-bottom: 16px;
  transition: all 0.5s;
}
.news_list:hover {
  cursor: pointer;
  text-decoration-line: underline;
}
.news_list_detail {
  font-size: 14px;
  color: var(--text-weak);
  transition: all 0.5s;
}
