@import url("./colors.css");

body {
  background-color: var(--surface-surface-default);
  color: var(--text-text-default);
}

.flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

#root {
  margin: 0 auto;
  width: 930px;
}

section {
  width: 100%;
  margin-bottom: 30px;
}

#title_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.title_container {
  cursor: pointer;
  gap: 8px;
}
img.title_logo {
  width: 24px;
  height: 24px;
}

.date {
  color: var(--text-text-weak);
}

#headline_section {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.theme_button {
  width: 24px;
  height: 24px;
  display: none;
  cursor: pointer;
}
#moon {
  background-color: var(--text-text-default);
  -webkit-mask: url("/assets/icons/moon-solid.svg") no-repeat center;
  mask: url("/assets/icons/moon-solid.svg") no-repeat center;
  display: var(--dark-logo-display);
  fill: var(--text-text-default);
}
#sun {
  background-color: var(--text-text-default);
  -webkit-mask: url("/assets/icons/sun-solid.svg") no-repeat center;
  mask: url("/assets/icons/sun-solid.svg") no-repeat center;
  display: var(--light-logo-display);
}

.headline_container {
  background-color: var(--surface-surface-alt);
  /* position: relative; */
  width: 100%;
  border: 1px solid var(--border-border-default);
  gap: 16px;

  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  height: 49px;
}

.headline_container > h2 {
  margin: 0;
  font-size: 14px;
}

.headline_container li {
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headline_title {
  font-weight: bold;
  margin-right: 20px;
}
.left_rolling_list :hover,
.right_rolling_list :hover {
  text-decoration-line: underline;
}
.left_rolling_list,
.right_rolling_list {
  padding: 0px;
  position: relative;
  width: 70%;
  height: 17px;
  list-style: none;
  overflow: hidden;
}

.top {
  position: absolute;
  top: -20px;
  transition: top 2s ease;
}
.view {
  position: absolute;
  top: 0px;
  transition: top 2s ease;
}
.next {
  position: absolute;
  top: 40px;
}
.bottom {
  position: absolute;
  top: 40px;
  transition: top 2s ease;
}

.main_header {
  justify-content: space-between;
}

.main_title_container {
  gap: 24px;
}

.main_title_container > h2 {
  font-size: 16px;
}
.main_title_container > span {
  font-size: 16px;
  color: var(--text-text-weak);
}

.view_button_container {
  gap: 8px;
  cursor: pointer;
}

.main_body {
  position: relative;
}

.content {
  height: 388px;
}

.view_button_container .view_clicked {
  filter: invert(49%) sepia(83%) saturate(5417%) hue-rotate(218deg)
    brightness(87%) contrast(85%);
}

.alert {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 100px;
  border: 2px solid var(--border-border-default);
  background-color: var(--surface-surface-alt);
  z-index: 999;
}
