.company-list {
  list-style: none;
  margin: 0;
  height: 100%;
  padding: 0;
  padding-left: 0.5px;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  background-size: calc(100% / var(--grid-columns))
    calc(100% / var(--grid-rows));
  background-image: linear-gradient(
      90deg,
      var(--color-border-default) 1px,
      transparent 1px
    ),
    linear-gradient(var(--color-border-default) 1px, transparent 1px);
  border-right: 1px solid var(--color-border-default);
  border-bottom: 1px solid var(--color-border-default);
}

.company-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.company-list__item--hover {
  position: absolute;
  box-sizing: unset;
  border: 0.5px solid var(--color-border-default);
  top: 0.5px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--color-surface-alt);
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-list-container {
  position: relative;
}
