.company-list {
  list-style: none;
  margin: 0;
  height: 100%;
  padding: 0;
  padding-left: 0.5px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.company-list__item {
  border: 1px solid var(--color-border-default);
  margin-top: -1px;
  margin-left: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.company-list__item--hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-surface-alt);
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-list-container {
  position: relative;
}
