body {
  background-color: var(--grayscale-black);
  transition: background-color 0.5s ease;
}

/* 기본 상단 영역 */
.header__h1 {
  color: var(--grayscale-white);
}

.header__time {
  color: var(--grayscale-100);
}

/* 자동 롤링 영역 */
.latest_news__wrapper-left,
.latest_news__wrapper-right {
  background-color: var(--grayscale-500);
  border: 1px solid var(--grayscale-400);
}

.latest_news__h2 {
  color: var(--grayscale-white);
}

.latest_news__p {
  color: var(--grayscale-100);
}

/* 언론사 헤더 영역 */
.press__h2-entire {
  color: var(--grayscale-white);
}

.press__h2-subscribe {
  color: var(--grayscale-100);
}

/* 언론사 그리드 영역 */
.press-logo__li-button {
  background-color: var(--grayscale-50);
}

.press-logo__li-hover {
  background-color: var(--grayscale-500);
}
