:root {
  /* Typography Default Value */
  --bold-L: 700 24px/1.5 "Pretendard";
  --bold-M: 700 16px/1.5 "Pretendard";
  --bold-R: 700 14px/1.5 "Pretendard";
  --bold-S: 700 12px/1.5 "Pretendard";

  --medium-M: 500 16px/22px "Pretendard";
  --medium-R: 500 14px/1.5 "Pretendard";
  --medium-S: 500 12px/1.5 "Pretendard";

  /* Color Default Value */
  --grayscale-white-alt: #ffffff;
  --grayscale-white: rgba(255, 255, 255, 0.7);
  --grayscale-50: #f5f7f9;
  --grayscale-100: #d2dae0;
  --grayscale-200: #879298;
  --grayscale-300: #6e8091;
  --grayscale-400: #5f6e76;
  --grayscale-500: #4b5966;
  --grayscale-black: #14212b;

  --blue-100: #7890e7;
  --blue-500: #4362d0;
}

/* Typography System - size */
.display-bold24 {
  font: var(--bold-L);
}

.display-bold16 {
  font: var(--bold-M);
}

.display-bold14 {
  font: var(--bold-R);
}

.display-bold12 {
  font: var(--bold-S);
}

.display-medium16 {
  font: var(--medium-M);
}

.display-medium14 {
  font: var(--medium-R);
}

.display-medium12 {
  font: var(--medium-S);
}

.selected-bold16 {
  font: var(--bold-M);
}

.selected-bold14 {
  font: var(--bold-R);
}

.available-medium16 {
  font: var(--medium-M);
}

.available-medium14 {
  font: var(--medium-R);
}

.available-medium12 {
  font: var(--medium-S);
}

.hover-medium16 {
  font: var(--medium-M);
  text-decoration: underline;
}

.hover-medium14 {
  font: var(--medium-R);
  text-decoration: underline;
}

/* Color System: Light Mode */
.light-text-strong {
  color: var(--grayscale-black);
}
.light-text-bold {
  color: var(--grayscale-500);
}
.light-text-default {
  color: var(--grayscale-400);
}
.light-text-weak {
  color: var(--grayscale-200);
}

.light-text-white-default {
  color: var(--grayscale-white);
}
.light-text-white-weak {
  color: var(--grayscale-white-alt);
}

.light-text-point {
  color: var(--blue-500);
}

.light-surface-default {
  background-color: var(--grayscale-white);
}
.light-surface-alt {
  background-color: var(--grayscale-50);
}

.light-surface-brand-default {
  background-color: var(--blue-500);
}
.light-surface-brand-alt {
  background-color: var(--blue-100);
}

.light-border-bold {
  border: 1px solid var(--grayscale-300);
}
.light-border-default {
  border: 1px solid var(--grayscale-100);
}

/* Color System: Dark Mode */
.dark-text-stong {
  color: var(--grayscale-white);
}
.dark-text-bold {
  color: var(--grayscale-50);
}
.dark-text-default {
  color: var(--grayscale-100);
}
.dark-text-weak {
  color: var(--grayscale-white-alt);
}
.dark-text-white-default {
  color: var(--grayscale-white);
}
.dark-text-white-weak {
  color: var(--grayscale-white-alt);
}

.dark-text-point {
  color: var(--blue-500);
}

.dark-surface-default {
  background-color: var(--grayscale-black);
}
.dark-surface-alt {
  background-color: var(--grayscale-500);
}

.dark-surface-brand-default {
  background-color: var(--blue-500);
}
.dark-surface-brand-alt {
  background-color: var(--blue-100);
}

.dark-border-bold {
  border: 1px solid var(--grayscale-white-alt);
}
.dark-border-default {
  border: 1px solid var(--grayscale-400);
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
