@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');
@import url('./reset.css');
@import url('./design.css');
@import url('./components/latest-news.css');
@import url('./components/news-stand-header.css');
@import url('./components/press-grid.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard';
  font-style: normal;
  line-height: normal;
}

.news-stand__container {
  width: 930px;
}

/* 재사용 CSS */
.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
