/* global layout */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 10px;
}

#container {
  width: 930px;
  margin: 0 auto;
}

.header,
.newsflash,
.newspaper {
  width: 100%;
}
