.all-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.all-news-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 930px;
}

.view-type-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.view-type-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* news-list-grid */
.news-list-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 36px;
}
.news-list-grid {
  width: 930px;
  height: 388px;

  position: relative;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);

  border-bottom: 0px;
  border-right: 0px;
}

.news-list-grid > li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 0px;
  border-left: 0px;

  cursor: pointer;
}

/* news-list-list */
.newslist-list-view {
  width: 930px;

  display: flex;
  flex-direction: column;
}

.newslist-list-view > nav {
  width: 100%;
  height: 40px;

  display: flex;

  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
}

.newslist-list-view > nav > li {
  padding: 12px 16px;
}

.press-header-focus {
  width: 166px;
  position: relative;
}

.press-header-focus > .progress-bar {
  width: 0%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  transition: width 20s linear;
}

.press-header-focus > div {
  position: relative;

  display: flex;
  justify-content: space-between;
}
.press-type-name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.press-news-section {
  width: 930px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.press-news-info {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.press-news-info > img {
  width: 51.5px;
  height: 20px;
  flex-shrink: 0;
}

.press-news-content {
  display: flex;
  gap: 32px;
}

.press-news-img {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.press-news-img > div {
  overflow: hidden;
}

.press-news-img > div {
  width: 320px;
  height: 200px;
}

.press-news-img > div > img {
  width: 100%;
  height: 100%;

  transition: all 0.2s linear;
}

.press-news-img:hover img {
  transform: scale(1.05);
}

.press-news-img:hover label {
  text-decoration: underline;
}

.press-news-img > span {
  display: flex;
  height: 44px;
  flex-direction: column;
  align-self: stretch;
}

.press-news-detail-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.press-news-detail-list > span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.press-logo {
  height: 20px;
}
