.list-view {
  width: 100%;

  display: flex;
  flex-direction: column;

  border: 1px solid var(--color-border-default);
}
.list-view_tab {
  height: 40px;

  border-bottom: 1px solid var(--color-border-default);
  background: var(--color-surface-alt);

  overflow-y: scroll;
}
.list-view_tab > ul {
  height: 100%;

  display: flex;
  align-items: center;

  color: var(--color-text-weak);
}
.list-view_tab > ul > li {
  position: relative;
  height: 100%;
  padding: 0px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-shrink: 0;
}
.list-view_tab > ul > li:hover {
  cursor: pointer;
}
.tab-subscribe svg {
  display: none;
  width: 14px;
  height: 14px;
  z-index: 10;
}
.list-view-main {
  padding: 24px;
}
.list-view-main > header {
  display: flex;
  align-items: center;
  gap: 16px;

  margin-bottom: 18px;
}
.list-view-main > main {
  display: flex;
  gap: 32px;
}
.list-view-main_edit-date {
  color: var(--color-text-default);
}
.list-view-main_subscribe-btn {
  display: flex;
  align-items: center;
  gap: 2px;

  padding: 5px 6px;

  color: var(--color-text-weak);
  border: 1px solid var(--color-border-default);
  background: var(--color-surface-alt);

  border-radius: 50px;
}
.list-view-main_subscribe-btn > svg {
  width: 12px;
  height: 12px;
}
.list-view-main_subscribe-btn > span {
  padding-right: 4px;
}
.list-view-main_main-news {
  cursor: pointer;
}
.list-view-main_main-news > img {
  margin-bottom: 16px;

  border: 1px solid var(--color-border-default);
  transition: transform 0.5s ease;
}
.list-view-main_main-news > p {
  min-height: 44px;
  color: var(--color-text-strong);
}
.list-view-main_main-news:hover > img {
  transform: scale(1.05);
}
.list-view-main_main-news:hover > p {
  text-decoration-line: underline;
}
.list-view-main_sub-news {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 16px;
}
.list-view-main_sub-news > ul {
  display: flex;
  flex-direction: column;
  gap: 16px;

  color: var(--color-text-bold);
}
.list-view-main_sub-news > ul > li {
  cursor: pointer;
}
.list-view-main_sub-news > ul > li:hover {
  text-decoration-line: underline;
}
.list-view-main_notice {
  color: var(--color-text-weak);
}
