.main-nav {
  margin-bottom: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav > div {
  display: flex;
  align-items: center;
}
.main-nav_tabs {
  gap: 24px;

  color: var(--color-text-weak);
}
.main-nav_tabs--selected {
  color: var(--color-text-strong);
}
.main-nav_viewer {
  gap: 8px;

  color: var(--color-text-weak);
}
.main-nav_viewer--selected {
  color: var(--color-text-point);
}
