/* news-list-grid */
.news-list-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 36px;
}
.news-list-grid {
  width: 930px;
  height: 388px;

  position: relative;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);

  border-bottom: 0px;
  border-right: 0px;
}

.news-list-grid > li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 0px;
  border-left: 0px;

  cursor: pointer;
}
.grid-logo-wrapper {
  width: 100%;
  height: 100%;
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.grid-logo-wrapper:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  z-index: 100;
  transform: rotateY(180deg);
}
