/* navBar */

.news-navbar {
  display: flex;
  justify-content: space-between;
  height: 24px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.news-navbar_newspaper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 216px;
  gap: 24px;
}

.news-navbar_newspaper-list-all {
  line-height: 22px;
  cursor: pointer;
}

.news-navbar_newspaper-list-my {
  line-height: 22px;
  cursor: pointer;
}

.news-navbar_content {
  display: flex;
  justify-content: space-between;
  width: 56px;
}

.news-navbar_content > span {
  cursor: pointer;
}

.navbar_selected {
  font-weight: var(--font-weight-bold);
  color: var(--color-text-strong);
}

.navbar_noSelected {
  color: var(--color-text-weak);
}
