.press-section {
  position: absolute;
}
.sub-alert {
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border-default);
  box-shadow: 0px 2px 18px 0px rgba(20, 33, 43, 0.08),
    0px 4px 2px 0px rgba(20, 33, 43, 0.02);
  position: relative;
  z-index: 2;
  left: 303px;
  bottom: 250px;
}

.alert-message {
  color: var(--text-default);
  display: flex;
  padding: 24px;
  gap: 10px;
  align-self: stretch;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--surface-default);
}

.sub-choice {
  display: flex;
  width: 320px;
}

.yes {
  color: var(--text-default);
  font-family: Pretendard;
  font-style: normal;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  width: 320px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  background-color: var(--surface-alt);
  border-top: 1px solid var(--border-default);
  border-right: 1px solid var(--border-default);
}

.no {
  color: var(--text-strong);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  width: 320px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  background-color: var(--surface-alt);
  border-top: 1px solid var(--border-default);
}

.yes:hover,
.no:hover {
  text-decoration: underline;
}
