/***** 언론사 뷰 선택 style *****/
.press-section {
  margin-top: 30px;
  width: 930px;
}

.press-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.press-option {
  display: flex;
  align-items: center;
  gap: 24px;
}

.not-clicked {
  color: var(--text-weak);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  cursor: pointer;
}

.dark-mode-icon {
  width: 24px;
  height: 24px;
}

.total-press,
.subscribed-press,
.list-symbol,
.grid-symbol,
.dark-mode-icon {
  cursor: pointer;
}
