.main__subview {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}
.main__content {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  align-items: center;

  background-color: #f5f7f9;
  flex: 0.495;
  border: 1px solid #d2dae0;
  height: 13px;

  padding: 16px;
  font-size: 0.85em;
}
.main-—corp-name {
  text-align: center;
  font-weight: bold;
}
.main—-news-box {
  width: 100%;
  margin-left: 3%;
  text-align: center;
  font-weight: 500;
  color: var(--text-text-default);
}
