/* CSS Reset */
@import url("/src/style/lib/reset.css");

/* Variable */
@import url("/src/style/lib/variable.css");

/* Font */
@import url("/src/style/lib/font.css");

/* Utility CSS */
@import url("/src/style/lib/utils.css");

/* Component */
@import url("/src/style/components/header.css");
@import url("/src/style/components/recent-news.css");
@import url("/src/style/components/content-nav.css");
@import url("/src/style/components/content-empty.css");
@import url("/src/style/components/content-list.css");
@import url("/src/style/components/content-grid.css");
@import url("/src/style/components/subscribe/alert.css");
@import url("/src/style/components/subscribe/snackbar.css");
@import url("/src/style/components/subscribe/button.css");

/* global */
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.app__container {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 930px;
  width: 930px;
}

.main__container {
  position: relative;
}

.move-page__btn {
  position: absolute;
  top: 50%;
}

.move-page__btn:disabled {
  display: none;
}

.move-page__btn[data-dir="prev"] {
  left: -3rem;
  transform: translate(-100%, -50%);
}

.move-page__btn[data-dir="next"] {
  right: -3rem;
  transform: translate(100%, -50%);
}

.view {
  margin-top: 1.5rem;
  height: 388px;
}

.grid-view,
.list-view {
  margin-top: 1.5rem;
  height: 388px;
}
