/* news grid layout */

.news-section-grid {
  height: 388px;
  position: relative;
}

.newspaper__list {
  display: grid;
  grid-template-columns: repeat(6, minmax(96.25px, auto));
  border-top: 1px solid #d2dae0;
  border-left: 1px solid #d2dae0;
}

.newspaper__item {
  height: 96.25px;
  border-bottom: 1px solid #d2dae0;
  border-right: 1px solid #d2dae0;
  text-align: center;
  line-height: 96.25px;
}

/* grid page button */

.right-button_content {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(61px, -21px);
  cursor: pointer;
}

.left-button_content {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-61px, -21px);
  cursor: pointer;
}
