@import "./progressbar.css";

#newsstand__news-area {
  border: 1px solid var(--border-border-default);
  height: 388px;
}

.newsstand__news-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-border-default);

  color: var(--text-text-weak);
  background: var(--surface-surface-alt, #f5f7f9);

  height: 40px;

  overflow: scroll;
}
.newsstand__news-nav li {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}
.newsstand__focus {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 166px;

  flex-shrink: 0.1;
  background-color: var(--blue-100);
}

.newsstand__focus-font {
  color: var(--text-white-default);
  font-weight: 700;
}

.newsstand__list-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 24px;

  gap: 16px;
}

.newsstand__current-view {
  display: flex;
  align-items: center;
}

.thumbnail--box {
  width: 320px;
  height: 200px;
  overflow: hidden;
}
.thumbnail-image {
  width: 100%;
  transition: all 0.75s;
}
.thumbnail-image:hover {
  transform: scale(1.05);
}
.newsstand--publisher-logo {
  display: flex;
  align-items: center;
}

.newsstand__current-edit {
  display: flex;
  align-items: center;

  font-size: 12px;
  margin: 0 16px;

  color: var(--text-text-default);

  /* display-medium12 */
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.newsstand__current-button {
  display: flex;
  height: 24px;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 2px;

  border-radius: 50px;
  border: 1px solid var(--border-border-default);
  background: var(--surface-surface-alt);

  padding: 6px;
  color: var(--text-text-weak);

  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.newsstand__list-main {
  display: flex;

  gap: 32px;
}

.newsstand__list-left {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.newsstand--subtitle {
  width: 320px;
  height: 44px;
  align-self: stretch;

  overflow: hidden;
  color: var(--text-text-strong, #14212b);
  text-overflow: ellipsis;

  /* available-medium16 */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
}

.newsstand__list-right {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-self: stretch;
}
.newsstand__edit-corp {
  color: var(--text-text-weak);

  /* display-medium14 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.newstand__edit-content {
  color: var(--text-text-bold);

  /* available-medium16 */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
