.list-wrapper {
  width: 930px;
}

.list-wrapper.hidden {
  display: none;
}

.categories-wrapper {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid var(--gray-scale-100);
  background-color: var(--gray-scale-50);
}

.categories-list {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 16px 0px 16px;
  gap: 8px;
  color: var(--gray-scale-200);
}

.category-name {
  font-size: 14px;
  line-height: 16.71px;
}

.press-news {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--gray-scale-100);
  padding: 24px;
}

.press-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.pressInfo-logo {
}

.pressInfo-date {
  font-size: 12px;
  color: var(--gray-scale-400);
}

.pressInfo-subButton {
  display: flex;
  align-items: center;
  height: 24px;
  border: 1px solid var(--gray-scale-100);
  background-color: var(--gray-scale-50);
  padding: 0px 6px 0px 6px;
  border-radius: 100px;
  cursor: pointer;
  color: gray;
  gap: 2px;
}

.press-main {
  gap: 32px;
}

.press-imageInfo {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pressImage {
  width: 320px;
  height: 200px;
  border: 1px solid var(--gray-scale-100);
}

.pressImage-title {
  font-size: 16px;
  line-height: 22px;
  color: var(--gray-scale-black);
}
