.press-content-container {
  display: flex;
  position: relative;
  padding-top: 25px;
  align-items: center;
  width: 1070px;
  margin: 0 auto;
}

.press-content-all-grid-view {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 930px;
  height: 388px;
  border-top: 1px solid #d2dae0;
  border-left: 1px solid #d2dae0;
}

.press-content-my-grid-view {
  display: none;
  grid-template-columns: repeat(6, 1fr);
  width: 930px;
  height: 388px;
  border-top: 1px solid #d2dae0;
  border-left: 1px solid #d2dae0;
}

.press-content-my-grid-view li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d2dae0;
  border-right: 1px solid #d2dae0;
}

.press-content-all-grid-view li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d2dae0;
  border-right: 1px solid #d2dae0;
}

.press-content-all-list-view {
  width: 930px;
  height: 388px;
  border: 1px solid #d2dae0;
  display: none;
}

.press-content-my-list-view {
  width: 930px;
  height: 388px;
  border: 1px solid #d2dae0;
  display: none;
}

.press-content-categorybar {
  background-color: #f5f7f9;
  height: 40px;
  border-bottom: 1px solid #d2dae0;
  display: flex;
  align-items: center;
}

.press-content-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0px 16px;
  color: #879298;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  z-index: 1;
}

.press-content-category * {
  z-index: 3;
  white-space: nowrap;
}

@keyframes progress {
  from {
    width: 0px;
  }
  to {
    width: 166px;
  }
}

.selected .press-content-category-progressbar {
  height: 40px;
  width: 166px;
  background-color: blue;
  left: 0px;
  z-index: 2;
  animation: 2s linear progress;
  position: absolute;
}

.selected {
  width: 134px;
  background-color: #7890e7;
  color: #ffffff;
  position: relative;
}

.selected > .press-content-category-cnt {
  display: block;
}

.unselected {
  background-color: none;
  color: #879298;
}

.press-content-category-cnt-now {
  color: #ffffff;
}

.press-content-category-cnt {
  display: none;
}

.press-content-category-cnt-all {
  color: #ffffffb2;
}

#press-content-btn-prev {
  position: absolute;
  left: -71px;
  display: none;
}

#press-content-btn-prev:hover {
  cursor: pointer;
}

#press-content-btn-next {
  position: absolute;
  left: 978px;
}

#press-content-btn-next:hover {
  cursor: pointer;
}

.press-content-news {
  display: flex;
  flex-direction: column;
}

.press-content-news-info {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 24px;
  padding: 24px 24px 16px 24px;
}

.press-content-news-info-time {
  color: #5f6e76;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.press-content-news-info-subscribe {
  width: 72px;
  height: 24px;
  border-radius: 50px;
  border: 1px solid #d2dae0;
  background: #f5f7f9;
  color: #879298;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.press-content-news-main {
  display: flex;
  gap: 32px;
}

.press-content-big-news {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding-left: 24px;
  gap: 16px;
}

.press-content-big-news > img {
  width: 320px;
  height: 200px;
}

.press-content-news-headlines {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
}

.press-content-news-title {
  color: #4b5966;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.press-content-news-footer {
  color: var(--text-text-weak, #879298);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
