#newsstand {
  position: relative;
  height: 400px;
}

.newsstand__media-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1% 0;
}
.newsstand__tab {
  display: flex;
  flex: 0.5;
}
.newsstand__media-nav :nth-child(2) {
  justify-content: flex-end;
}
.newsstand—text-clicked {
  font-weight: bold;
}
.newsstand—text-unclicked {
  margin-left: 3%;
  color: #879298;
}

.newsstand__media-area {
  width: 930px;
  height: 388px;
}
.newsstand-area—six-col-list {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));

  border-top: 1px solid #d2dae0;
  border-left: 1px solid #d2dae0;

  padding-left: 0px;

  height: 350px;
}
.newsstand—subscrtion-box {
  text-align: center;
  padding: 30px;

  border-bottom: 1px solid #d2dae0;
  border-right: 1px solid #d2dae0;

  position: relative;
  perspective: 1000px;
}
.front {
  width: 84px;
  height: 20px;
  background-size: cover;
}
.inner-back {
  transform: rotateY(180deg);
}
.inner-front,
.inner-back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
.inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;

  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.back {
  background: #ffffff;
  height: 100%;

  gap: 2px;

  color: #879298;
}
.newsstand—subscrtion-box:hover .inner {
  transform: rotateY(180deg);
}
.newsstand—subscrtion-box:hover {
  background-color: #f5f7f9;
}

.newsstand-btn-thumb {
  margin-left: 2%;
}
.newsstand--left-btn {
  cursor: pointer;
  position: absolute;
  top: 193px;
  left: -60px;
}
.newsstand--right-btn {
  cursor: pointer;
  position: absolute;
  top: 193px;
  right: -60px;
}
