.main__subview {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
.main__content {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  align-items: center;

  background-color: #f5f7f9;
  flex: 0.495;
  border: 1px solid #d2dae0;
  height: 16px;

  padding: 16px;
  font-size: 0.85em;
}
.main-—corp-name {
  text-align: center;
  font-weight: bold;
  /* border: 1px solid red; */
}
.main—-news-box {
  margin-left: 3%;
  text-align: center;
  font-weight: 500;
  /* color: #5f6e76; */
  color: var(--text-gray-light);
}
