.main__subview {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
.main__content {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  align-items: center;

  background-color: #f5f7f9;
  flex: 0.495;
  border: 1px solid #d2dae0;
  height: 16px;
  padding: 16px;
  font-size: 0.85em;

  overflow: hidden;
}
.main-—corp-name {
  text-align: center;
  font-weight: bold;
  width: 20%;
}
.main—-news-box {
  position: relative;
  height: 13px;
  width: 100%;
  margin-left: 3%;

  font-weight: 500;
  color: var(--text-gray-light);

  overflow: hidden;
}
/* .first-box {
  position: absolute;
  top: -30px;
  width: 100%;
} */
.main—-news-subview {
  height: 13px;
  width: 100%;

  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.animate-subview-auto-rolling {
  animation-duration: 5s;
  animation-name: auto-rolling;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes auto-rolling {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(-100%);
  }
}
