.main__subview {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
.main__content {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  align-items: center;

  background-color: #f5f7f9;
  flex: 0.495;
  border: 1px solid #d2dae0;
  height: 32px;
  width: 45%;
  padding: 16px;
  overflow: hidden;
}
.main-—corp-name {
  text-align: center;
  font-weight: bold;
  width: 20%;
}
.main—-news-area {
  height: 16px;
  width: 80%;
  overflow: hidden;
}
.main—-news-box {
  position: relative;

  width: 80%;
  color: var(--text-gray-light);
  overflow: hidden;
}
/* .first-box {
  position: absolute;
  top: -30px;
  width: 100%;
} */
.main—-news-subview {
  height: 16px;
  width: 100%;

  display: block;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.animate-subview-auto-rolling {
  animation-duration: 5s;
  animation-name: auto-rolling;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
/* .animate-subview-auto-rolling:hover {
  text-decoration-line: underline;
  animation-play-state: paused;
} */
.animate-subview-auto-rolling:hover {
  animation-play-state: paused;
  text-decoration-line: underline;
}

@keyframes auto-rolling {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(-54%);
  }
}
