@import url("./pallete.css");

.display-bold24 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.selected-bold16,
.display-bold16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.selected-bold14,
.display-bold14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.display-bold12 {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.available-medium16,
.display-medium16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.available-medium14,
.display-medium14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.available-medium12,
.display-medium12 {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hover-medium16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-decoration-line: underline;
}

.hover-medium14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}
