:root {
  /* font size */
  --text-size-large: 24px;
  --text-size-medium: 16px;
  --text-size-regular: 14px;
  --text-size-small: 12px;

  /* font weight */
  --text-weight-bold: 700;
  --text-weight-medium: 500;

  /* color palette */

  /* grayscale */
  --color-grayscale-white-alt: #ffffffb2;
  --color-grayscale-white: #ffffff;
  --color-grayscale-50: #f5f7f9;
  --color-grayscale-100: #d2dae0;
  --color-grayscale-200: #879298;
  --color-grayscale-300: #6e8091;
  --color-grayscale-400: #5f6e76;
  --color-grayscale-500: #4b5966;
  --color-grayscale-black: #14212b;

  /* blue */
  --color-blue-100: #7890e7;
  --color-blue-500: #4362d0;

  /* semantic colors */
  --color-text-strong: var(--color-grayscale-black);
  --color-text-bold: var(--color-grayscale-500);
  --color-text-default: var(--color-grayscale-400);
  --color-text-weak: var(--color-grayscale-300);
  --color-text-white-default: var(--color-grayscale-white);
  --color-text-white-weak: var(--color-grayscale-white-alt);
  --color-text-point: var(--color-blue-500);
  --color-surface-default: var(--color-grayscale-white);
  --color-surface-alt: var(--color-grayscale-50);
  --color-surface-brand-default: var(--color-blue-500);
  --color-surface-brand-alt: var(--color-blue-100);
  --color-border-bold: var(--color-grayscale-300);
  --color-border-default: var(--color-grayscale-100);

  /* objects */
  --border-default: 1px solid var(--color-border-default);
  --box-shadow-popup: 0px 2px 18px 0px rgba(20, 33, 43, 0.08),
    0px 4px 2px 0px rgba(20, 33, 43, 0.02);
}

/* dark mode */
.dark {
  --color-text-strong: var(--color-grayscale-white);
  --color-text-bold: var(--color-grayscale-50);
  --color-text-default: var(--color-grayscale-100);
  --color-text-weak: var(--color-grayscale-white-alt);
  --color-text-white-default: var(--color-grayscale-white);
  --color-text-white-weak: var(--color-grayscale-white-alt);
  --color-text-point: var(--color-blue-500);
  --color-surface-default: var(--color-grayscale-black);
  --color-surface-alt: var(--color-grayscale-500);
  --color-surface-brand-default: var(--color-blue-500);
  --color-surface-brand-alt: var(--color-blue-100);
  --color-border-bold: var(--color-grayscale-white-alt);
  --color-border-default: var(--color-grayscale-400);
}
