.news-list-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 1280px;
  height: 388px;
  border: 1px solid var(--grayscale-100);
}

/* news-list_category */
.news-list_category {
  display: flex;
  align-items: center;
  width: 930px;
  height: 40px;

  border-bottom: 1px solid var(--grayscale-100);
  background-color: var(--grayscale-50);

  /* overflow-x: scroll; */
}

.news-list_category::-webkit-scrollbar {
  display: none; /* 추가된 부분 */
}

.news-list_category li {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  box-sizing: border-box;

  position: relative;
  z-index: 1;
}

.news-list_category li * {
  z-index: 3;
  white-space: nowrap;
}

@keyframes progress {
  from {
    width: 0px;
  }
  to {
    width: 166px;
  }
}

.news-list_category li .progress_bar {
  height: 40px;
  width: 166px;
  background-color: var(--blue-500);

  position: absolute;
  left: 0px;
  z-index: 2;

  animation: 20s linear progress;
}

.news-list_category div {
  display: flex;
}

.category_selected {
  width: 166px;
  justify-content: space-between;
  font: var(--bold-R);
  color: var(--grayscale-white-alt);
  background-color: var(--blue-100);
}

.category_selected div :nth-child(2) {
  color: var(--grayscale-white);
}

.category_unselected {
  color: var(--grayscale-200);
}

.category_unselected:hover {
  text-decoration: underline;
}

/* news-list_media */
.news-list_media {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 24px;
  gap: 16px;
}

.news-list_media_header {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 16px;
}

.news-list_media_header img {
  width: 53px;
  height: 20px;
}

.news-list_subscribe_btn {
  display: flex;
  height: 24px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  gap: 2px;

  color: var(--grayscale-200);
  border-radius: 50px;
  border: 1px solid var(--grayscale-100);
  background-color: var(--grayscale-50);

  cursor: pointer;
}

.news-list_unsubscribe_btn {
  display: flex;
  height: 24px;
  justify-content: center;
  align-items: center;
  padding: 0 8px;

  border-radius: 50px;
  border: 1px solid var(--grayscale-100);
  background-color: var(--grayscale-white);

  color: var(--grayscale-200);

  cursor: pointer;
}

.news-list_media_header p {
  color: var(--grayscale-400);
}

/* news-list_media_content */
.news-list_media_content {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.news-list_media_content_main {
  display: flex;
  flex-direction: column;

  width: 320px;
  height: 100%;
  gap: 16px;

  color: var(--grayscale-black);
}

.news-list_media_content_sub {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  color: var(--grayscale-500);
}

.news-list_media_edit {
  font: var(--medium-R);
  color: var(--grayscale-200);
}
