.subscribe__button {
  height: 1.5rem;
  padding: 0 0.375rem;
  border-radius: 50px;
  font: var(--font-medium-s);
  display: flex;
  align-items: center;
  gap: 0.125rem;
  background-color: var(--color-surface-alt);
}

.subscribe__button--subscribe {
  border: 1px solid var(--color-border-default);
  color: var(--color-text-weak);
}

.subscribe__button--unsubscribe.subscribe__button--grid {
  border: 1px solid var(--color-border-default);
  color: var(--color-text-bold);
}
.subscribe__button--unsubscribe.subscribe__button--list {
  background-color: var(--color-surface-default);
  border: 1px solid var(--color-border-default);
}
